{#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}

#
#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements.  See the NOTICE file distributed with
#   this work for additional information regarding copyright ownership.
#   The ASF licenses this file to You under the Apache License, Version 2.0
#   (the "License"); you may not use this file except in compliance with
#   the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#

# syntax: [prefix].[source|sink].[instance].[options]
# See javadoc of package-info.java for org.apache.hadoop.metrics2 for details

*.sink.sql.class=org.apache.hadoop.metrics2.sink.SqlServerSinkHadoop2

namenode.sink.sql.databaseUrl={{dburl}}
datanode.sink.sql.databaseUrl={{dburl}}
jobtracker.sink.sql.databaseUrl={{dburl}}
tasktracker.sink.sql.databaseUrl={{dburl}}
maptask.sink.sql.databaseUrl={{dburl}}
reducetask.sink.sql.databaseUrl={{dburl}}
resourcemanager.sink.sql.databaseUrl={{dburl}}
nodemanager.sink.sql.databaseUrl={{dburl}}
historyserver.sink.sql.databaseUrl={{dburl}}
journalnode.sink.sql.databaseUrl={{dburl}}
nimbus.sink.sql.databaseUrl={{dburl}}
supervisor.sink.sql.databaseUrl={{dburl}}
hbase.sink.sql.databaseUrl={{dburl}}
