{{!
   Licensed to the Apache Software Foundation (ASF) under one
   or more contributor license agreements.  See the NOTICE file
   distributed with this work for additional information
   regarding copyright ownership.  The ASF licenses this file
   to you under the Apache License, Version 2.0 (the
   "License"); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
}}

<a data-toggle="tooltip" data-placement="bottom" title="Delete"> <i class="fa fa-trash-o fa-lg"></i> </a>

{{#bs-popover triggers='click' placement='left'}}
  <div class="input-group" >
    <div class="btn-group ">
      <button {{action 'close'}} type="button" class="btn btn-xs btn-danger">
        <i class="fa fa-times fa-fw"></i>
      </button>
      <button {{action 'confirm'}} type="button" class="btn btn-xs btn-success">
        <i class="fa fa-check fa-fw"></i>
      </button>
    </div>
    <div class="checkbox delete-forever">
      <label>
      {{input type="checkbox" checkedBinding='deleteForever' }} Delete forever
      </label>
    </div>
  </div>
{{/bs-popover}}

