/**
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '../modules/shared/main';

:host {
  background-color: @main-background-color; // TODO implement actual color
  display: flex;
  flex-direction: column;
  line-height: @default-line-height;
  min-height: 100vh;

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: @navbar-background-color;
    color: #fff;
    .stretch-flex;
    h1 {
      align-items: center;
      background-color: lighten(@navbar-background-color, 5%);
      display: flex;
      margin: 0 2em 0 0;
      padding: 0 2em;
      text-transform: uppercase;
      &.full-flex-width {
        flex-basis: 100%;
      }
    }
    breadcrumbs {
      font-size: 18px;
      .stretch-flex;
    }

    /deep/ top-menu {
      margin-left: auto;
      margin-right: 5em;
    }
  }
}
