<?xml version="1.0" encoding="UTF-8" ?>
<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %C{6} (%F:%L) - %m%n"/>
    </layout>
  </appender>

  <appender name="rolling_file" class="org.apache.log4j.RollingFileAppender">
    <param name="file" value="{{logfeeder_log_dir}}/logfeeder.log"/>
    <param name="append" value="true"/>
    <param name="maxFileSize" value="{{logfeeder_log_maxfilesize}}MB"/>
    <param name="maxBackupIndex" value="{{logfeeder_log_maxbackupindex}}"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %C{6} (%F:%L) - %m%n"/>
    </layout>
  </appender>

  <appender name="rolling_file_json"
    class="org.apache.ambari.logsearch.appender.LogsearchRollingFileAppender">
    <param name="file" value="{{logfeeder_log_dir}}/logsearch-logfeeder.json" />
    <param name="append" value="true" />
    <param name="maxFileSize" value="{{logfeeder_json_log_maxfilesize}}MB" />
    <param name="maxBackupIndex" value="{{logfeeder_json_log_maxbackupindex}}" />
    <layout class="org.apache.ambari.logsearch.appender.LogsearchConversion" />
  </appender>


  <!-- Logs to suppress BEGIN -->
  <category name="org.apache.solr.common.cloud.ZkStateReader" additivity="false">
    <priority value="error" />
    <appender-ref ref="daily_rolling_file" />
  </category>

  <category name="apache.solr.client.solrj.impl.CloudSolrClient" additivity="false">
    <priority value="fatal" />
    <appender-ref ref="daily_rolling_file" />
  </category>
  <!-- Logs to suppress END -->

  <category name="org.apache.ambari.logfeeder" additivity="false">
    <priority value="INFO" />
    <appender-ref ref="console" />
    <!-- <appender-ref ref="daily_rolling_file" /> -->
    <appender-ref ref="rolling_file_json"/>
  </category>

  <root>
    <priority value="warn"/>
    <!-- <appender-ref ref="rolling_file"/> -->
    <!-- <appender-ref ref="daily_rolling_file" /> -->
  </root>
</log4j:configuration>
