<!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div class="server-info">
	<a href="javascript:void(0);"
		class="levelBox node FATAL text-center active"> <strong
		data-total="FATAL">0</strong><span>Fatal</span> <i
		class="fa fa-spinner fa-spin"></i>
	</a> <a href="javascript:void(0);"
		class="levelBox node ERROR text-center active"> <strong
		data-total="ERROR">0</strong><span>Error</span> <i
		class="fa fa-spinner fa-spin"></i>
	</a> <a href="javascript:void(0);"
		class="levelBox node WARN text-center active"> <strong
		data-total="WARN">0</strong><span>Warn</span> <i
		class="fa fa-spinner fa-spin"></i>
	</a> <a href="javascript:void(0);"
		class="levelBox node INFO text-center active"> <strong
		data-total="INFO">0</strong><span>Info</span> <i
		class="fa fa-spinner fa-spin"></i>
	</a> <a href="javascript:void(0);"
		class="levelBox node DEBUG text-center active"> <strong
		data-total="DEBUG">0</strong><span>Debug</span> <i
		class="fa fa-spinner fa-spin"></i>
	</a> <a href="javascript:void(0);"
		class="levelBox node TRACE text-center active"> <strong
		data-total="TRACE">0</strong><span>Trace</span> <i
		class="fa fa-spinner fa-spin"></i>
	</a>
  <a href="javascript:void(0);"
    class="levelBox node UNKNOWN text-center active"> <strong
    data-total="UNKNOWN">0</strong><span>Unknown</span> <i
    class="fa fa-spinner fa-spin"></i>
  </a>  

</div>