span.installationWizardStageNumber {
  color: rgb(157,157,157);
  /*
  color: white;
  */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  left: 1px;
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
}

#installationWizardProgressBarDivId {
  width: 100%;
  margin: 0px auto;
  margin-bottom: 8px;
}

#installationWizardProgressBarListId {
  margin:0;
  padding:0;
  height:50px;
}

#installationWizardProgressBarListId li {
  display: inline-block;
  width: auto;
  padding: 5px;
  margin: 2px;
  cursor: default;
}

.installationWizardUnvisitedStage, #installationWizardProgressBarListId li.installationWizardUnvisitedStage {
  background-color: rgb(190,190,190);
  color: white;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  padding:10px;
}

.installationWizardVisitedStage, #installationWizardProgressBarListId li.installationWizardVisitedStage {
  background-color: grey;
  color: #fff;
  padding:10px;
  font-weight:bold;
  font-size: 12px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  cursor: pointer;
}

.installationWizardCurrentStage, #installationWizardProgressBarListId li.installationWizardCurrentStage {
  background-color:#65B642;
  color: white;
  margin:4px;
  padding:10px;
  font-weight:bolder;
  font-size: 14px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}

.txnNoOpMsg {
  padding: 4px;
  font-weight: bolder;
  font-size: 150%;
  text-align: center;
}

.logEntry {
  border:1px solid #B2B299 ;
  background-color:#F0F0E8;
  margin:30px;
}

.logEntryHeader {
  font-weight:bold;
  font-size:larger;
  background-color:#B2B299;
  color:white;
}

.logEntryBody {
  padding:5px;
}

#txnProgressStatusDivId {
  width: auto;
  max-width:500px;
  /-*height: 2em;*-/
  border-style: solid;
  border-width: 2px;
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 13px;
  /*text-align: center;*/
  margin-bottom:0;
  text-align:right;
}

.formStatusBar {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    font-size:14px;
    margin-bottom: 18px;
    padding: 8px 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.formStatusBarZeroOpacity {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 5s, opacity 3s linear;
  -moz-transition: visibility 0s 5s, opacity 3s linear;
}

#txnProgressCoreDivId {
  /* Float above all else*/
  z-index:15;
  position:absolute;
  top:180px;
  left:50%;
  margin-left:-270px;

  /* Leave some space at the bootom for long progress-lists */
  padding-bottom:100px;
}

#txnProgressStatusDivId p {
	font-size:14px;
	margin:0;
	/*margin-top:10px;*/
}

#txnProgressFieldSetId {
  width:auto;
  background-color:white;
  border-radius:0px 0px 15px 15px;
}

.statusOk {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.statusError {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

/* Add a scrollbar only to the body of the YUI Panel, keeping the locations of
 * the Header and Footer fixed (and always visible).
 */
#informationalPanelContainerDivId .yui3-widget-bd {
    max-height:400px;
    min-height:80px;
    padding:15px;
    overflow-x:hidden;
    overflow-y:auto;
}

#informationalPanelContainerDivId .yui3-widget-hd {
  background: #f0f0f0;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0 1px 0 #FFFFFF inset;
  border-radius:6px 6px 0 0;
  padding: 9px 15px;
  font-size: 18px;
  line-height: 27px;
  color:#333333;
  font-weight:bold;
}

#informationalPanelContainerDivId .yui3-widget-ft {
	background-color: #F5F5F5;
	border-radius: 0 0 6px 6px;
	border-top: 1px solid #DDDDDD;
	box-shadow: 0 1px 0 #FFFFFF inset;
	margin-bottom: 0;
	padding: 14px 15px 15px;
	text-align: right;
}

#informationalPanelContainerDivId .yui3-widget-ft .yui3-button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -ms-linear-gradient(top, white, #E6E6E6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white),
     to(#E6E6E6) );
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(top, white, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

#informationalPanelContainerDivId .yui3-widget-ft .yui3-button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

#informationalPanelContainerDivId .yui3-widget-ft .yui3-button:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

#informationalPanelContainerDivId .yui3-widget-ft .okButton {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#informationalPanelContainerDivId .yui3-widget-ft .okButton:hover,
#informationalPanelContainerDivId .yui3-widget-ft .okButton:active {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #51a351;
  *background-color: #499249;
}

#informationalPanelContainerDivId .yui3-panel-content {
	box-shadow:none;
	border:none;	
	border-radius:6px;
}

#informationalPanelContainerDivId .yui3-widget-content-expanded {
	height:auto;
}

#informationalPanelContainerDivId .yui3-widget-mask {
	opacity:0.7;
}

.yui3-panel:focus {
  outline:0 none;
}

#confirmationDataPanelBodyContent {
  font-size:13px;
}

#manageServicesDisplayDepsOnAction {
  margin-top:30px;
}

.loadingImg {
  display: block;
  margin: auto;
}

.centered {
  position: fixed; 
  left: 50%; 
  top: 50%;
}

#configureClusterInputContainerDivId {
  float:left;
  width:400px;
  margin:20px 0 0 80px;
}

#configureClusterDisplayDivId {
  float:left;
  width:40%;
  opacity: 0.7;
  margin-left:10px;
}

#configureClusterCoreDivId #previewLinkId {
  color:#0088CC;
  font-size:13px; 
}

#configureClusterMountPointsDisplayDivId {
  margin:20px; 
}

#configureClusterMountPointsDisplayDivId label {
  font-weight:bold;
  font-size:14px;
}

#configureClusterMountPointsDisplayDivId .formElement {
  margin-top:20px;
  width:auto;
}

.formInputError, input[type="text"].formInputError {
  border-color: #F53907;
  /*background-color: #F17879;*/
}

.formInputErrorReason {
  display: inline-block;
  margin-left: 10px;
  color: red;
}

#configureClusterAdvancedDynamicRenderDivId .formInputErrorReason {
	color: red;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 320px;
}
