hr {
  clear:both;
  color: #FFF;
}

/*
fieldset {
  border:1px solid;
  border-color:#E5E5E5 #DBDBDB #D2D2D2;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  box-shadow:0 1px 2px rgba(0,0,0,.3);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,.3);
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.3);
  background-color:#FFF;
  padding:20px;
}
*/
fieldset { 
  padding: 1em;
  border:1px solid #B2B299 ;
  /*background-color:#F4F4F4;*/
  background-color:#F0F0E8;
}

legend {
  padding: 0.2em 0.5em;
/*  border:1px solid #DBDBDB ;*/
  color:green;
  font-size:120%;
  text-align:right;
/*  background-color:#FFFFFF; 
  border:1px solid #00CC00 ;
*/
}

/*
.submitButton {
*/
  /* Dead code...
  border:1px solid;
  border-color:#E5E5E5 #DBDBDB #D2D2D2;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  box-shadow:0 1px 2px rgba(0,0,0,.3);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,.3);
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.3);
  background: -moz-linear-gradient(#00CC00, #99D3F7) repeat scroll 0 0 transparent;
  */
/*
  background-color: #00CC00;
  border-radius:5px;
  border: 0px;
  height:30px;
  color:white;
  float:right;
  font-size:1.2em;
  padding:5px;
  margin-top:5px;
  margin-bottom:5px;

*/
  /* Color transition */
/*
  transition: background-color 1s linear;
  -moz-transition: background-color 1s linear; */   /* FF3.7+ */
 /* -o-transition: background-color 1s linear; */     /* Opera 10.5 */
 /* -webkit-transition: background-color 1s linear; *//* Saf3.2+, Chrome */
/*
}
*/

.submitButton:hover {
  background-color:#00CC00;
  cursor:pointer;
  border:1px solid green;
  color:white;
}

.submitButton {
  -moz-box-shadow:inset 0px 1px 20px -2px #caefab;
  -webkit-box-shadow:inset 0px 1px 20px -2px #caefab;
  box-shadow:inset 0px 1px 20px -2px #caefab;
  background-color: #39E639;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid grey;
  color:black;
  margin-top:6px;
  margin-bottom:6px;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:6px 20px;
  text-decoration:none;
  float:right;
}

/*
.submitButton:hover {
  background-color:rgb(50,205,50);
}
  */

.submitButton:active {
  position:relative;
  top:1px;
}

input[readonly] {
  width:300px;
  /*
    color:green;
  */
  box-shadow:none;
  border:0px;
  background-color:#F0F0E8;
  vertical-align:top;
}

label {
  clear:left;
  float:left;
  width:45%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
}


/*
ul {
*/
/*
clear:left;
  margin-left:50%;
*/
/*
  float:left;
  padding-bottom:0.8em;
  width:45%;
  text-align:left;
}
*/

#formElement {
  height: 35px;
}

/*
label {
  display: block;
  width: 100px;
  float: left;
  margin: 2px 4px 6px 4px;
  text-align: right;
}
*/
