#serviceMastersLinksDivId {
  width:40%;
  float:left;
}

.aServiceMasterLink {
  display:block;
  border: 1px solid #B2B299;
  clear:left;
  float: left;
  width:100%;
  height:35px;
  background-color: #DBDBDB;
  color:white;
  margin-bottom:15px;
}

.aServiceMasterLinkVisited {
  display:block;
  border: 1px solid #B2B299;
  clear:left;
  float: left;
  width:100%;
  height:35px;
  background-color: green;
  color:white;
  margin-bottom:15px;
  font-weight:bold;
}

#nodeGroupsCoreDivId {
  border: 1px solid #B2B299;
  float:left;
  width:100%;
}

#nodeListDynamicId {
  border: 1px solid #B2B299;
  text-align:center;
  /* display:inline-block; */
}

#nodeGroupsTable {
  margin:5px;
  overflow:auto;
}

.nodeGroupTitle {
  font-weight:bold;
  font-size:1.2em;
  padding:5px;
  background-color:#B2B299;
  color:white;
}

.nodeList {
  display:block;
  margin:5px;
  width:40%;
  margin-left:50%;
}

.aNodeGroup {
  /*overflow:auto;*/
  padding:10px;
  width:40%;
  float:left;
}

.slotBucket {
  margin:5px;
  display:block;
  float:left;
}

.slotTitle {
  display:block;
}

.slot {
  border: 1px solid #B2B299;
  min-height:50px;

  /* Color transition */
  transition: background-color 1s cubic-bezier(.09, .99, .37, .98);
  -moz-transition: background-color 1s cubic-bezier(.09, .99, .37, .98);    /* FF3.7+ */
  -o-transition: background-color 1s cubic-bezier(.09, .99, .37, .98) ;      /* Opera 10.5 */
  -webkit-transition: background-color 1s cubic-bezier(.09, .99, .37, .98) ; /* Saf3.2+, Chrome */
}

.slotHover {
  border: 1px solid #B2B299;
  min-height:50px;
 /* background-color: #00CC00; */
  background-color:#F0F0E8;
}

.yui3-dd-drop-over {
 /* background-color: #00CC00; */
  background-color:#F0F0E8;
}

.masterDiv {
  border: 1px solid green;
  margin: 3px;
  padding: 3px;
  cursor:move;
  /* background-color: #00CC00; */
  background-color: rgb(50,205,50);
  border-radius:4px 4px 4px 4px;
  color:white;
  font-weight:bold;
}

#selectServiceMastersSubmitButtonId {
  clear:both;
}

.nodeAssignmentWrapper {
  display:block;
  padding:3px;

  /* Color transition */
  transition: background-color 0.5s cubic-bezier(.09, .99, .37, .98);
  -moz-transition: background-color 0.5s cubic-bezier(.09, .99, .37, .98);    /* FF3.7+ */
  -o-transition: background-color 0.5s cubic-bezier(.09, .99, .37, .98) ;      /* Opera 10.5 */
  -webkit-transition: background-color 0.5s cubic-bezier(.09, .99, .37, .98) ; /* Saf3.2+, Chrome */
}

.nodeAssignmentWrapperHover {
  display:block;
  padding:3px;
  /* background-color: #00CC00; */
  background-color: #F0F0E8;
}

.nodeAssignment {
  display:inline-block;
}

.nodeAssignmentHover {
  display:inline-block;
}
