#Log directory
HDP_LOG_DIR={{hdp_log_dir}}

#Data directory
HDP_DATA_DIR={{hdp_data_dir}}

#hosts
NAMENODE_HOST={{namenode_host}}
SECONDARY_NAMENODE_HOST={{secondary_namenode_host}}
RESOURCEMANAGER_HOST={{resourcemanager_host}}
HIVE_SERVER_HOST={{hive_server_host}}
OOZIE_SERVER_HOST={{oozie_server_host}}
WEBHCAT_HOST={{webhcat_host}}
SLAVE_HOSTS={{slave_hosts}}
ZOOKEEPER_HOSTS={{zookeeper_hosts}}
CLIENT_HOSTS={{client_hosts}}
HBASE_MASTER={{hbase_master}}
HBASE_REGIONSERVERS={{hbase_regionservers}}
FLUME_HOSTS={{flume_hosts}}
FALCON_HOST={{falcon_host}}
KNOX_HOST={{knox_host}}
STORM_NIMBUS={{storm_nimbus}}
STORM_SUPERVISORS={{storm_supervisors}}

#Database host
DB_FLAVOR={{db_flavor}}
DB_HOSTNAME={{db_hostname}}
DB_PORT={{db_port}}

#Hive properties
HIVE_DB_NAME={{hive_db_name}}
HIVE_DB_USERNAME={{hive_db_username}}
HIVE_DB_PASSWORD={{hive_db_password}}

#Oozie properties
OOZIE_DB_NAME={{oozie_db_name}}
OOZIE_DB_USERNAME={{oozie_db_username}}
OOZIE_DB_PASSWORD={{oozie_db_password}}