{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="row jobs-status">
  <div class="col-md-12 ">
    <div class="col-md-9">
      <div class="strip">
        <ul class="list-inline">
          {{#each-in statusCounts as |status count|}}
            <li>{{count}} <span class="text-uppercase">{{status}}</span></li>
          {{/each-in}}
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      {{date-range-picker
        start=startTime
        end=endTime
        opens="left"
        applyAction=(action "setDateRange")
      }}
    </div>
  </div>

</div>

<div class="row jobs-table">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="10%">Job Id</th>
          <th width="30%">Title <span class="pull-right">Dipayan</span> </th>
          <th width="10%">status</th>
          <th width="25%">Start time</th>
          <th width="20%" >Duration</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each jobs as |job| }}
          {{job-item job=job}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
