<!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div class="row">
	<div class="col-md-12">
		<div class="row topLevelFilter">
            <div id="r_LogLevel" class="col-md-5"></div>
            <div id="r_DatePicker" class="col-md-6 col-sm-10" style="margin-top: 13px;"></div>
            <div id="r_LogSnapShot" class="col-md-1 col-sm-2"></div>
            <div class="row ">
				<div class="col-md-12 fixedSearchBox hiddeBox">
					<div class="col-md-6" data-id="r_vsSearchIncCol"></div>
					<div class="col-md-6" data-id="r_vsSearchExCol"></div>	
				</div>
			</div>
        </div>
        <div class="setHeight_LogFile"></div>
		<div class="row">
			<div class="col-md-12">
					<div id="r_Histogram"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<ul class="export-dropdown" style="display: none;">
						<li><a data-id="T" href="javascript:void(0);">Export as Text</a></li>
						<li><a data-id="J" href="javascript:void(0);">Export as JSON</a></li>
					</ul>
					<div class="box-header">
						<div class="box-name">
							<span><strong data-id="hostName">Host Name</strong> <i class="fa fa-angle-double-right"></i>
								<strong data-id="componentName">Component Name</strong>
							</span>
						</div>
						<div class="box-icons">
							<span id="loaderToolbar"> <i class="fa fa-spinner fa-spin"></i></span>
							<div data-id="timer"></div>
							<a data-id="refresh-tab" class=""> <i class="fa fa-refresh"></i></a>
							<a data-id="export-logs-text" title ="Export file" class="">
								<i class="fa fa-sign-out"></i>
							</a>
							<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
							</a>
						</div>
						<div class="no-move"></div>
					</div>
					<div class="box-content">
						<div class="col-md-4 advance-find">
							<div class="input-group">
								<span class="input-group-btn">
    							<button data-id="lock" title="Lock position" class="btn btn-default btn-search no-margin" type="button"><i class="fa fa-unlock"></i>
    							</button></span> 
								<input data-id="find" type="text" placeholder="Find logMessage"
									class="form-control tabTextSearchEllipsis">
									<div class="clearSearch" title="clear search"></div>
									 <span class="input-group-btn">
									<button data-id="first" title="find on prev page" class="btn btn-default btn-search no-margin"
										type="button">
										<i class="fa fa-spinner fa-spin hidden"></i>
										<i class="fa fa-angle-double-left"></i>
									</button>
									<button data-id="prev" title="find prev occurrence on same page" class="btn btn-default btn-search no-margin"
										type="button">
										<i class="fa fa-angle-left"></i>
									</button>
									<button data-id="next" title="find next occurrence on same page" class="btn btn-default btn-search no-margin"
										type="button">
										<i class="fa fa-angle-right"></i>
									</button>
									<button data-id="last" title="find on next page" class="btn btn-default btn-search no-margin"
										type="button">
										<i class="fa fa-spinner fa-spin hidden"></i>
										<i class="fa fa-angle-double-right"></i>
									</button>
									<button data-id="cancelFind" class="btn btn-default btn-search no-margin" style="display:none;">cancel</button>
									<button style="display:none;" class="no-margin btn-notification pageNotation" type="button"> </button>
								</span>
							</div>
						</div>
						<div class="col-md-2">
							<div class="toggle-switch toggleTableView">
								<label>
									<input data-id="toggleTable" type="checkbox" >
									<div class="toggle-switch-inner"></div>
									<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
								</label>
							</div>
						</div>
						<div id="logFileTable"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-group contextMenu dropup" style="display:none;position:absolute;z-index:9999;">
	    <button type="button" class="btn btn-info btn-circle btn-app-sm btn-context dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        <i class="fa fa-info"></i>
	    </button>
	    <ul class="dropdown-menu">
	        <li><a data-id="I" href="javascript:void(0);">Include</a></li>
	        <li><a data-id="E" href="javascript:void(0);">Exclude</a></li>
	        <li><a data-id="IA" href="javascript:void(0);">*Include*</a></li>
	        <li><a data-id="EA" href="javascript:void(0);">*Exclude*</a></li>
	        <li role="separator" class="divider"></li>
	        <li><a data-id="F" href="javascript:void(0);">Find</a></li>
	    </ul>
	</div>
</div>