<!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div class="row">
    <!--     <div class="col-md-3">
        <div id="r_TreeView"></div>
    </div> -->
    <div class="col-md-12">
        <div class="row topLevelFilter">
            <div id="r_LogLevel" class="col-md-5 col-sm-12"></div>
            <div id="r_DatePicker" class="col-md-4 col-sm-12" style="margin-top: 13px;"></div>
            <div id="r_SelectClusterDropdown" class="col-md-2 col-sm-6" style="margin-top: 13px;"></div>
            <div id="r_LogSnapShot" class="col-md-1 col-sm-6"></div>
            <div class="col-md-12 hiddeBox fixedSearchBox">
                <!--  <div class="row row-margin-bottom">
                    <div class="col-md-12" id="r_vsSearch"></div>
                </div> -->
                <div class="row row-margin-bottom" id="searchIncludeExclude">
                    <div class="col-md-6" data-id="basicSearch">
                        <div id="r_vsSearchIncCol"></div>
                    </div>
                    <div class="col-md-6" data-id="basicSearch">
                        <div id="r_vsSearchExCol"></div>
                    </div>
                    <div class="col-md-11" data-id="advanceSearch" style="display:none">
                        <div id="r_AdvanceSearch"></div>
                    </div>
                   <!--  Advance search Button -->
                    <div class="col-md-1 text-center hidden">
                        <div class="toggle-switch toggleSearchQuery aggregatedView text-left">
                            <label>
                                <input data-id="toggleTableAccessLog" type="checkbox">
                                <div class="toggle-switch-inner"></div>
                                <div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
                            </label>
                        </div>
                       <button type="button" class="applyBtn btn btn-xs btn-success" id="applySearch" style="display:none;">Apply</button>
                    </div>
                </div>
               <!--  <div class="row row-margin-bottom" >
                    
                </div> -->
                <div class="row" id="compInculdeExculde">
                    <div class="col-md-6">
                        <!-- <label>Exclude Components : </label> -->
                        <input type="hidden" id="includeComponents" name="Components" value="" />
                    </div>
                    <div class="col-md-6">
                        <input type="hidden" id="excludeComponents" name="Components" value="" />
                    </div>
                
                </div>
            </div>
        </div>
        <div class="setHeight"></div>
        <!--        <div class="row vs-box">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <div class="box-name">
                            <i class="fa fa-search"></i> <span>Search</span>
                        </div>
                        <div class="box-icons">
                            <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <div class="no-move"></div>
                    </div>
                    <div class="box-content">
                        <div class="row row-margin-bottom">
                            <div class="col-md-12" id="r_DatePicker"></div>
                        </div>
                        <div class="row row-margin-bottom">
                            <div class="col-md-12" id="r_vsSearch"></div>
                        </div>
                        <div class="row row-margin-bottom">
                            <div class="col-md-6">
                                <div id="r_vsSearchIncCol"></div>
                            </div>
                            <div class="col-md-6">
                                <div id="r_vsSearchExCol"></div>
                            </div>
                        </div>
                        <div class="row row-margin-bottom">
                            <div class="col-md-6">
                                <input type="hidden" id="includeComponents" name="Components" value="" />
                            </div>
                            <div class="col-md-6">
                                <input type="hidden" id="excludeComponents" name="Components" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div id="r_EventHistory"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="r_Histogram"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="r_BubbleTable"></div>
            </div>
        </div>
    </div>
</div>
