<!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div id="filter">
      <div class="row row-margin-bottom">
                    <div class="col-md-12">
                        <!-- <div class="row row-margin-bottom row-topMargin">
                            <div class="col-md-3"><label>Select Level : </label></div>
                            <div class="col-md-9"><input type="hidden" id="levels" name="levels" value="1"/></div>
                        </div> -->
                        <div class="row row-margin-bottom row-topMargin">
                            <div class="col-md-12">
                                <table class="table table-condensed text-center logFeederTable">
                                       <thead>
                                        <tr>
                                           <th>Components</th>
                                           <th>Override</th>
                                           <th class="FATAL text-center"><span class="pull-left"><input type="checkbox" data-value="FATAL"></span><span>FATAL</span></th>
                                           <th class="ERROR  text-center"><span class="pull-left"><input type="checkbox" data-value="ERROR"></span><span>ERROR</span></th>
                                           <th class="WARN  text-center"><span class="pull-left"><input type="checkbox" data-value="WARN"></span><span>WARN</span></th>
                                           <th class="INFO  text-center"><span class="pull-left"><input type="checkbox" data-value="INFO"></span><span>INFO</span></th>
                                           <th class="DEBUG  text-center"><span class="pull-left"><input type="checkbox" data-value="DEBUG"></span><span>DEBUG</span></th>
                                           <th class="TRACE  text-center"><span class="pull-left"><input type="checkbox" data-value="TRACE"></span><span>TRACE</span></th>
                                           <th class="UNKNOWN  text-center"><span class="pull-left"><input type="checkbox" data-value="UNKNOWN"></span><span>UNKNOWN</span></th>
                                        </tr>
                                       </thead>
                                       <tbody id="filterContent"></tbody>
                                </table>
                            </div>
                        </div>
                      <!--   <div class="row row-margin-bottom row-topMargin">
                            <div class="col-md-3"><label>Select Components : </label></div>
                            <div class="col-md-9"><input type="hidden" id="components" name="components" value="1" /></div>
                        </div> -->


                    </div>
      </div>
      <div data-id="loader" class="loading"></div>
</div>