<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div id="hosts" class="box">
    <div class="box-header">
        <div class="button-section">
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Rack
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Rack1</a></li>
                    <li><a href="#">Rack2</a></li>
                    <li><a href="#">Rack3</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Stop
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                </ul>
            </div>
            <a class="btn btn-primary decommission" href="#">
                Decommission
            </a>
            <a class="btn btn-primary" href="#">
                Delete
            </a>
            <a class="btn btn-inverse add-host-button" href="#">
                <i class="icon-plus icon-white"></i>
                Add New Host
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <!--<colgroup>-->
            <!--<col class="span1">-->
            <!--<col class="span7">-->
        <!--</colgroup>-->
        <thead>
            <tr>
                <th>
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                </th>
                <th>Name</th>
                <th>Rack</th>
                <th>Services</th>
                <th>Components</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                </td>
                <td>ip-12-12-12-1232.co2.ama.internal</td>
                <td>Rack1</td>
                <td>HDFS MapReduce</td>
                <td>NameNode</td>
            </tr>
            <tr>
                <td>
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                </td>
                <td>ip-12-12-12-1232.co2.ama.internal</td>
                <td>Rack1</td>
                <td>HDFS MapReduce</td>
                <td>NameNode</td>
            </tr>
            <tr>
                <td>
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                </td>
                <td>ip-12-12-12-1232.co2.ama.internal</td>
                <td>Rack1</td>
                <td>HDFS MapReduce</td>
                <td>NameNode</td>
            </tr>
            <tr>
                <td>
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                </td>
                <td>ip-12-12-12-1232.co2.ama.internal</td>
                <td>Rack1</td>
                <td>HDFS MapReduce</td>
                <td>NameNode</td>
            </tr>
            <tr>
                <td>
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                </td>
                <td>ip-12-12-12-1232.co2.ama.internal</td>
                <td>Rack1</td>
                <td>HDFS MapReduce</td>
                <td>NameNode</td>
            </tr>
        </tbody>
    </table>
    <div class="box-footer">
        <hr />
        <div class="footer-pagination">
            <ul class="nav nav-pills">
                <li class="disabled">Show Hosts</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">25<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">50</a></li>
                        <li><a href="#">100</a></li>
                        <li><a href="#">All</a></li>
                    </ul>
                </li>
                <li class="disabled">1-25 of 400</li>
            </ul>
        </div>
    </div>
</div>