<?xml version="1.0" encoding="utf-8"?>
<!--
   Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<?define Version = "${ambariVersion}" ?>
<?define UpgradeCode = "c8f5c145-c0aa-4d50-b1f5-ac9bc4055fb8" ?>
  <Product Id="*" Name="Ambari Server ${ambariVersion}-SNAPSHOT" Language="1033"
           Version="$(var.Version)" Manufacturer="Apache Software Foundation"
           UpgradeCode="$(var.UpgradeCode)">
    <Package Description="Ambari Server for Windows" Comments="Ambari Server for Windows" InstallerVersion="200"
             Compressed="yes" Platform="x64"/>

    <!-- upgrade rules -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.Version)" IncludeMinimum="no" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0.0" Maximum="$(var.Version)" IncludeMinimum="yes" IncludeMaximum="yes" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <Custom Action="NewerVersion" After="FindRelatedProducts">NEWERVERSIONDETECTED</Custom>
      <Custom Action="BackupConfiguration" After='InstallInitialize'>OLDERVERSIONBEINGUPGRADED</Custom>
    </InstallExecuteSequence>

    <CustomAction Id="NewerVersion" Error="A later version of Ambari Server is already installed." />
    <!-- backup ambari.properties before installing new bits-->
    <CustomAction Id="BackupConfiguration"
                  Directory="AMBARI_SERVER_MSI"
                  ExeCommand='cmd.exe /c copy conf\ambari.properties conf\ambari.properties.backup'
                  Return="check" />

    <Media Id="1" Cabinet="simple.cab" EmbedCab="yes"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="AMBARI_SERVER_MSI" Name="ambari-server">
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
      <ComponentGroupRef Id="AmbariServerGroup"/>
    </Feature>
    <UI/>
    <Property Id="WIXUI_INSTALLDIR" Value="AMBARI_SERVER_MSI"/>
    <UIRef Id="WixUI_InstallDir"/>
  </Product>
</Wix>