{#
 # Licensed to the Apache Software Foundation (ASF) under one
 # or more contributor license agreements.  See the NOTICE file
 # distributed with this work for additional information
 # regarding copyright ownership.  The ASF licenses this file
 # to you under the Apache License, Version 2.0 (the
 # "License"); you may not use this file except in compliance
 # with the License.  You may obtain a copy of the License at
 #
 #   http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}
{
	"input":[
		{
			"type":"accumulo_gc",
			"rowtype":"service",
			"path":"{{accumulo_log_dir}}/gc_*.log"
		},
		{
			"type":"accumulo_master",
			"rowtype":"service",
			"path":"{{accumulo_log_dir}}/master_*.log"
		},
		{
			"type":"accumulo_monitor",
			"rowtype":"service",
			"path":"{{accumulo_log_dir}}/monitor_*.log"
		},
		{
			"type":"accumulo_tracer",
			"rowtype":"service",
			"path":"{{accumulo_log_dir}}/tracer_*.log"
		},
		{
			"type":"accumulo_tserver",
			"rowtype":"service",
			"path":"{{accumulo_log_dir}}/tserver_*.log"
		},
		{
			"type":"atlas_app",
			"rowtype":"service",
			"path":"{{atlas_log_dir}}/application.log"
		},
		{
			"type":"ambari_agent",
			"rowtype":"service",
			"path":"{{ambari_agent_log_dir}}/ambari-agent.log"
		},
		{
			"type":"ambari_server",
			"rowtype":"service",
			"path":"{{ambari_server_log_dir}}/ambari-server.log"
		},
		{
			"type":"ams_hbase_master",
			"rowtype":"service",
			"path":"{{metrics_collector_log_dir}}/hbase-ams-master-*.log"
		},
		{
			"type":"ams_hbase_regionserver",
			"rowtype":"service",
			"path":"{{metrics_collector_log_dir}}/hbase-ams-regionserver-*.log"
		},
		{
			"type":"ams_collector",
			"rowtype":"service",
			"path":"{{metrics_collector_log_dir}}/ambari-metrics-collector.log"
		},
		{
			"type":"falcon_app",
			"rowtype":"service",
			"path":"{{falcon_log_dir}}/falcon.application.log"
		},
		{
			"type":"hbase_master",
			"rowtype":"service",
			"path":"{{hbase_log_dir}}/hbase-hbase-master-*.log"
		},
		{
			"type":"hbase_regionserver",
			"rowtype":"service",
			"path":"{{hbase_log_dir}}/hbase-hbase-regionserver-*.log"
		},
		{
			"type":"hdfs_datanode",
			"rowtype":"service",
			"path":"{{hdfs_log_dir_prefix}}/hdfs/hadoop-hdfs-datanode-*.log"
		},
		{
			"type":"hdfs_namenode",
			"rowtype":"service",
			"path":"{{hdfs_log_dir_prefix}}/hdfs/hadoop-hdfs-namenode-*.log"
		},
		{
			"type":"hdfs_journalnode",
			"rowtype":"service",
			"path":"{{hdfs_log_dir_prefix}}/hdfs/hadoop-hdfs-journalnode-*.log"
		},
		{
			"type":"hdfs_secondarynamenode",
			"rowtype":"service",
			"path":"{{hdfs_log_dir_prefix}}/hdfs/hadoop-hdfs-secondarynamenode-*.log"
		},
		{
			"type":"hdfs_zkfc",
			"rowtype":"service",
			"path":"{{hdfs_log_dir_prefix}}/hdfs/hadoop-hdfs-zkfc-*.log"
		},
		{
			"type":"hive_hiveserver2",
			"rowtype":"service",
			"path":"{{hive_log_dir}}/hiveserver2.log"
		},
		{
			"type":"hive_metastore",
			"rowtype":"service",
			"path":"{{hive_log_dir}}/hivemetastore.log"
		},
		{
			"type":"kafka_controller",
			"rowtype":"service",
			"path":"{{kafka_log_dir}}/controller.log"
		},
		{
			"type":"kafka_request",
			"rowtype":"service",
			"path":"{{kafka_log_dir}}/kafka-request.log"
		},
		{
			"type":"kafka_logcleaner",
			"rowtype":"service",
			"path":"{{kafka_log_dir}}/log-cleaner.log"
		},
		{
			"type":"kafka_server",
			"rowtype":"service",
			"path":"{{kafka_log_dir}}/server.log"
		},
		{
			"type":"kafka_statechange",
			"rowtype":"service",
			"path":"{{kafka_log_dir}}/state-change.log"
		},
		{
			"type":"knox_gateway",
			"rowtype":"service",
			"path":"{{knox_log_dir}}/gateway.log"
		},
		{
			"type":"knox_cli",
			"rowtype":"service",
			"path":"{{knox_log_dir}}/knoxcli.log"
		},
		{
			"type":"knox_ldap",
			"rowtype":"service",
			"path":"{{knox_log_dir}}/ldap.log"
		},
		{
			"type":"mapred_historyserver",
			"rowtype":"service",
			"path":"{{mapred_log_dir_prefix}}/mapred/mapred-mapred-historyserver*.log"
		},
		{
			"type":"logsearch_app",
			"rowtype":"service",
			"path":"{{logsearch_log_dir}}/logsearch.log"
		},
		{
			"type":"logsearch_feeder",
			"rowtype":"service",
			"path":"{{logfeeder_log_dir}}/logfeeder.log"
		},
		{
			"type":"logsearch_perf",
			"rowtype":"service",
			"path":"{{logsearch_log_dir}}/logsearch-performance.log"
		},
		{
			"type":"ranger_admin",
			"rowtype":"service",
			"path":"{{ranger_admin_log_dir}}/xa_portal.log"
		},
		{
			"type":"ranger_dbpatch",
			"is_enabled":"true",
			"path":"{{ranger_admin_log_dir}}/ranger_db_patch.log"
		},
		{
			"type":"ranger_kms",
			"rowtype":"service",
			"path":"{{ranger_kms_log_dir}}/kms.log"
		},
		{
			"type":"ranger_usersync",
			"rowtype":"service",
			"path":"{{ranger_usersync_log_dir}}/usersync.log"
		},
		{
			"type":"oozie_app",
			"rowtype":"service",
			"path":"{{oozie_log_dir}}/oozie.log"
		},
		{
			"type":"yarn_nodemanager",
			"rowtype":"service",
			"path":"{{yarn_log_dir_prefix}}/yarn/yarn-yarn-nodemanager-*.log"
		},
		{
			"type":"yarn_resourcemanager",
			"rowtype":"service",
			"path":"{{yarn_log_dir_prefix}}/yarn/yarn-yarn-resourcemanager-*.log"
		},
		{
			"type":"yarn_timelineserver",
			"rowtype":"service",
			"path":"{{yarn_log_dir_prefix}}/yarn/yarn-yarn-timelineserver-*.log"
		},
		{
			"type":"yarn_historyserver",
			"rowtype":"service",
			"path":"{{yarn_log_dir_prefix}}/yarn/yarn-yarn-historyserver-*.log"
		},
		{
			"type":"yarn_jobsummary",
			"rowtype":"service",
			"path":"{{yarn_log_dir_prefix}}/yarn/hadoop-mapreduce.jobsummary.log"
		},
		{
			"type":"storm_drpc",
			"rowtype":"service",
			"path":"{{storm_log_dir}}/drpc.log"
		},
		{
			"type":"storm_logviewer",
			"rowtype":"service",
			"path":"{{storm_log_dir}}/logviewer.log"
		},
		{
			"type":"storm_nimbus",
			"rowtype":"service",
			"path":"{{storm_log_dir}}/nimbus.log"
		},
		{
			"type":"storm_supervisor",
			"rowtype":"service",
			"path":"{{storm_log_dir}}/supervisor.log"
		},
		{
			"type":"storm_ui",
			"rowtype":"service",
			"path":"{{storm_log_dir}}/ui.log"
		},
		{
			"type":"storm_worker",
			"rowtype":"service",
			"path":"{{storm_log_dir}}/*worker*.log"
		},
		{
			"type":"zookeeper",
			"rowtype":"service",
			"path":"{{zk_log_dir}}/zookeeper/zookeeper*.out"
		},
		{
			"type":"hdfs_audit",
			"rowtype":"audit",
			"is_enabled":"true",
			"add_fields":{
				"logType":"HDFSAudit",
				"enforcer":"hadoop-acl",
				"repoType":"1",
				"repo":"hdfs"
			},
			"path":"{{hdfs_log_dir_prefix}}/hdfs/hdfs-audit.log"
		}
		
	]	
}