<!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div class="selectDateRange col-md-12">
    <div class="col-md-7 col-sm-8 leftPad_0">
        <i class="glyphicon glyphicon-calendar fa fa-calendar iStyle"></i>&nbsp;
        <input id="dateRange" class="col-md-4 form-control pull-left" readonly style="cursor:pointer;" />
    </div>
    <div class="col-md-5 col-sm-4">
        <button class="goBtn btn btn-success" type="button">Go</button>
        <!-- <button class="cancelBtn btn btn-xs btn-default" type="button">Cancel</button> -->
        <span data-id="dateRangeTitle" class="dateRangeTitle"></span>
    </div>
</div>
