<!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div id="top-panel" class="col-xs-12 col-sm-9">
    <div class="row">
        <div class="col-xs-8 text-center">
            <a href="javascript:void(0)" data-id="editParams" class="params">
                Remove url params   
            <a/>
        </div>
        <div class="col-xs-4 col-sm-4 ">
            <ul class="nav navbar-nav pull-right panel-menu">
                <li class="dropdown" data-id="timeZoneChange" title="Change timezone">
                    <span style="color: white;  position: absolute;  top: -16px; right: 0px; font-size: 10px;"></span>
                    <a href="#" class="account excludeStatus" data-toggle="modal">
                        <img src="images/timezone.png" style=" height: 27px;  margin-top: 9px;">
                    </a>
                </li>
               <!--  <li class="dropdown" data-id="exclusionList" title="Global Exclusion">
                    <a href="#" class="account excludeStatus" data-toggle="modal">
                        <i class="fa fa-filter  pull-right"></i>
                    </a>
                </li> -->
                 <li class="dropdown" data-id="createFilters" title="Logfeeder Filters">
                    <a href="#" class="account excludeStatus" data-toggle="modal">
                        <i class="fa fa-filter"></i>
                    </a>
                </li>
                <li class="dropdown" title="Menu">
                    <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                        <!-- <div class="avatar">
                                        <img src="http://images.onlinelabels.com/images/clip-art/acspike/acspike_male_user_icon.png" class="img-circle" alt="avatar">
                                    </div> -->
                        <i class="fa fa-bars"></i>
                        <!-- <div class="user-mini pull-right">
                                        <span class="welcome">Welcome,</span>
                                        <span>User Name</span>
                                    </div> -->
                    </a>
                    <ul class="dropdown-menu">
                        <!--        <li>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-user"></i>
                                            <span>Edit Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-envelope"></i>
                                            <span>Change Password</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-gear"></i>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-question"></i>
                                            <span>Help</span>
                                        </a>
                                    </li> -->
                        <li>
                            <a href="javascript:void(0)" data-id="takeATour" title="Introduction">
                                <i class="fa fa-rocket"></i>
                                <span>Take A Tour</span>
                            </a>
                           <!--  <a class="" href="javascript:void(0)" data-id="createFilters" title="Custom Filters">
                                <i class="fa fa-filter"></i>
                                <span>Logfeeder Filter</span>
                            </a> -->
                            <a href="logout.html">
                                <i class="fa fa-power-off"></i>
                                <span>LogOut</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
