#######################################
#### HAWQ Limits Parameters ###########
#######################################
{{hawq_user}} soft nofile 2900000
{{hawq_user}} hard nofile 2900000
{{hawq_user}} soft nproc 131072
{{hawq_user}} hard nproc 131072