######################################
##### HAWQ env #######################
######################################
source {{hawq_greenplum_path_file}}
export MASTER_DATA_DIRECTORY={{hawq_master_dir}}
export PGPORT={{hawq_master_address_port}}
export PGHOST={{hawqmaster_host}}
export PGUSER={{hawq_user}}
