# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

solr.zkhosts={{zookeeper_quorum}}{{logsearch_solr_znode}}
solr.core.logs={{logsearch_collection_service_logs}}

solr.service_logs.split_interval_mins={{service_logs_collection_splits_interval_mins}}
solr.service_logs.shards={{logsearch_numshards}}
solr.service_logs.replication_factor={{logsearch_repfactor}}

solr.core.history={{solr_collection_history}}

#Audit logs
auditlog.solr.zkhosts={{solr_audit_logs_zk_quorum}}{{solr_audit_logs_zk_node}}
auditlog.solr.core.logs={{logsearch_solr_collection_audit_logs}}
auditlog.solr.url={{solr_audit_logs_url}}

solr.audit_logs.split_interval_mins={{audit_logs_collection_splits_interval_mins}}
solr.audit_logs.shards={{logsearch_numshards}}
solr.audit_logs.replication_factor={{logsearch_repfactor}}

#Authentication settings
#Note: Simple will be supported only if both file and ldap is disabled.
logsearch.auth.file.enable={{logsearch_auth_file_enable}}
logsearch.auth.ldap.enable={{logsearch_auth_ldap_enable}}
logsearch.auth.simple.enable={{logsearch_auth_simple_enable}}
