<div class="VS-search <% if (readOnly) { %>VS-readonly<% } %>">
  <div class="VS-search-box-wrapper VS-search-box">
    <div class="VS-icon VS-icon-search"></div>
    <div class="VS-placeholder"></div>
    <div class="VS-search-inner"></div>
    <div class="VS-icon VS-icon-cancel VS-cancel-search-box" title="clear search"></div>
  </div>
</div>