<!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div class="box no-drop">
	<div class="box-header">
		<div class="box-name">
			<span>Log Data</span>
		</div>
		<div class="box-icons">
			<span id="loaderGraph"> <i class="fa fa-spinner fa-spin"></i>
			</span> <!-- a class=""> <i class="fa fa-save"></i>
			</a> <!-- a class=""> <i class="fa fa-info"></i>
			</a> <!-- a class=""> <i class="fa fa-gear"></i>
			</a-->
			<div data-id="timer"></div>
			
			<a data-id="refresh-tab" class=""> <i class="fa fa-refresh"></i></a> 
			<!-- <a class="expand-link"> <i class="fa fa-expand"></i></a> -->
			<a  class="collapse-link"> <i class="fa fa-chevron-up"></i></a>
			
			 <!-- a class="close-link"> <i class="fa fa-close"></i>
			</a-->
		</div>
		<div class="no-move"></div>
	</div>
	<div class="box-content">
		<div class="loader" style="display: none;">
		</div>
		<div class="">
			<div class="radio-inline hidden">
				<label> <input type="radio" name="viewType" value="G"
					checked=""> Graph <i class="fa fa-circle-o small"></i>
				</label>
			</div>
			<div class="radio-inline">
				<label> <input type="radio" name="viewType" value="C" checked />
					Components <i class="fa fa-circle-o small"></i>
				</label>
			</div>
			<div class="radio-inline">
				<label> <input type="radio" name="viewType" value="H">
					Hosts <i class="fa fa-circle-o small"></i>
				</label>
			</div>
			<div class="radio-inline">
				<label> <input type="radio" name="viewType" value="T">
					Service Logs <i class="fa fa-circle-o small"></i>
				</label>
			</div>
		</div>
		<div data-id="table" style="display:none;">
			<div id=control></div>
			<div id="rLogTable"></div>
		</div>

		<div>
			<div class="hidden alert alert-info alert-dismissible" role="alert">
      			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
      				<!-- <strong>Warning!</strong> --> You can press <strong>Shift + Left click</strong> on component bubble to open log file in new tab.
		</div>
		<div id="graphAgg" class="hidden"></div>
		</div>
		<div id="componentList" ></div>
		<div id="hostList" style="display:none;"></div>
	</div>
</div>