<!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!-- div class="row row-margin-bottom">
	<div align="center" class="col-md-2"><span class="g-fatal"></span></div>
	<div align="center" class="col-md-2"><span class="g-error"></span></div>
	<div align="center" class="col-md-2"><span class="g-warn"></span></div>
	<div align="center" class="col-md-2"><span class="g-info"></span></div>
	<div align="center" class="col-md-2"><span class="g-debug"></span></div>
	<div align="center" class="col-md-2"><span class="g-trace"></span></div>
</div-->

<div class="row-fluid">
	<div id="dashboard_links" class="col-xs-12 col-sm-2">
		<div class="loader" style="display:none;"></div>
		<ul data-id="componentContainer" class="nav nav-pills nav-stacked"></ul>
	</div>
	<div id="dashboard_tabs" class="col-xs-12 col-sm-10">
		<div class="loader" style="display:none;"></div>
		<div data-id="content"></div>
	</div>
</div>