<!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div class="row">
	<div class="col-md-4">
		<div class="input-group">
			<input type="text" data-id="hostName" class="form-control"
				placeholder="Search Hosts"> <span class="input-group-btn">
				<button class="btn btn-info btn-search" data-id="searchHost" type="button">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</div>
	<div class="col-md-4">
		<div class="col-md-5">
			<label class="checkbox no-margin small-85"> <input id="mainCheck" checked ="checked" type="checkbox"> Select / Deselect All 
			<i class="fa fa-square-o small"></i>
			</label>
		
		</div>
		<div class="col-md-1" style="margin-left:-18px">
			<a href="javascript:void(0);" class="button-icon" data-id="collapseAll" title="Collapse All Node">
				<img src="images/sortingCollapse.png" style="width: 13px;padding-bottom: 2px;">
			</a>
		</div>
		<div class="col-md-1" style="">
			<a href="javascript:void(0);" class="button-icon" data-id="expandAll" title="Expand All Node">
				<img src="images/sortingExpand.png" style="width: 13px;padding-bottom: 2px;">
			</a>
		</div>	
	</div>
	
</div>
<div class="row hostNodes"></div>