<!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
	<div class="row">
    	<div class="col-md-12" id="content">
         <div class="scroller scroller-left"><i class="fa fa-chevron-left"></i></div>
         <div class="scroller scroller-right"><i class="fa fa-chevron-right"></i></div>
         
            <div role="tabpanel" class="">
             <div class="wrapper">
                <ul class="nav nav-tabs list" role="tablist">
                	<li data-id="troubleshoot" role="presentation" class="active"><a href="#troubleshoot" aria-controls="profile" role="tab" data-toggle="tab">Troubleshooting</a></li>
                    <li data-id="home" role="presentation" class="hidden"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Dashboard</a></li>
                    <li data-id="hostInfo" role="presentation" class="hidden"><a href="#hostInfo" aria-controls="profile" role="tab" data-toggle="tab">Host Info</a></li>
                    <li data-id="auditDashboard" role="presentation" class="hidden"><a href="#auditDashboard" aria-controls="profile" role="tab" data-toggle="tab">Dashboard</a></li>
                    <li data-id="hierarchy" role="presentation" class=""><a href="#hierarchy" aria-controls="profile" role="tab" data-toggle="tab">Service Logs</a></li>
                    <li data-id="audit" role="presentation" class=""><a href="#audit" aria-controls="profile" role="tab" data-toggle="tab">Access Logs</a></li>                    
                </ul>
            </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="home">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-name">
                                            <span>Search</span>
                                        </div>
                                        <div class="box-icons">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                        <div class="no-move"></div>
                                    </div>
                                    <div class="box-content">
                                        <div class="input-group">
                                            <input data-id="mainSearch" type="text" class="form-control" placeholder="Search" value="*:*">
                                            <span class="input-group-btn">
                                                <button data-id="mainSearchBtn" class="btn btn-default btn-search" type="button"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row row-margin-bottom">
                                    <div id="r_logLevel"></div>
                                        
                                </div>
                                <div class="row row-margin-bottom">
                                    <div id="r_components"></div>
                                </div>
                                <div class="row row-margin-bottom">
                                    <div id="r_hosts"></div>
                                </div>
                            </div>
                            <div class="col-md-9">
                            <div id="r_BubbleTable"></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="hierarchy">
                        <div id="r_Hierarchy"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="auditDashboard">
                        <div id="r_AuditDashboard"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="hostInfo">
                        <div id="r_HostInfo"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="audit">
                        <div id="r_AuditInfo"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="troubleshoot">
                    	<div id="r_TroubleShoot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="compare">
    <div class="panel panel-primary">
        <div class="panel-heading down">Compare</div>
        <div class="panel-body">
            <div class="hostCompList col-md-9">
                <span>Add Component</span>
                <span>Add Component</span>
            </div>
            <div class="col-md-3">
                <button class="btn btn-info btn-searchCompare" data-id="CompareButton">Compare</button>
                <button class="btn bg-success btn-searchCompare" data-id="CompareClearAll" style="margin-bottom: 0px;">clear all</button>
            </div>
        </div>
    </div>
</div>
