<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
    
<div class="cluster-manage-access-pane">
  <div class="clearfix">
    <ol class="breadcrumb pull-left">
      <li class="active">{{clusterName}} Permissions</li>
    </ol>
    <div class="pull-right top-margin-4">
      <a href class="btn btn-primary"  ng-click="toggleEditMode()"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
    </div>
  </div>
  <hr>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-2"></div>
      <label class="col-sm-5 control-label text-left">Users</label>
      <label class="col-sm-5 control-label text-left">Groups</label>
    </div>
    <div class="form-group" ng-repeat="permission in permissions">
      <label class="col-sm-2 control-label">{{permission.PermissionInfo.permission_name}}</label>
      <div class="col-sm-5" ng-switch="isEditMode">
        <textarea ng-switch-when="true" name="" id="" cols="30" rows="4" class="form-control permission-user-input" ng-model="permissionsEdit[permission.PermissionInfo.permission_name].USER"></textarea>
        <div class="well" ng-switch-default>
          <span ng-repeat="user in permission.USER">
            <link-to route="users.show" id="{{user}}" >{{user}}</link-to>
            {{$last ? '' :', '}}
          </span>
        </div>
      </div>
      <div class="col-sm-5" ng-switch="isEditMode">
        <textarea ng-switch-when="true" name="" id="" cols="30" rows="4" class="form-control permission-group-input" ng-model="permissionsEdit[permission.PermissionInfo.permission_name].GROUP"></textarea>
        <div class="well" ng-switch-default>
          <span ng-repeat="group in permission.GROUP">
            <link-to route="groups.edit" id="{{group}}">{{group}}</link-to>
            {{$last ? '' :', '}}
          </span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-show="isEditMode">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default pull-right left-margin permissions-cancel" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary pull-right permission-save" ng-click="save()">Save</button>
      </div>
    </div>
</div>