<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<ol class="breadcrumb">
  <li><a href="#/views">Views</a></li>
  <li class="active">Create Instance</li>
</ol>
<hr>
<form class="form-horizontal create-view-form" role="form" name="form.isntanceCreateForm" novalidate>
  <div class="view-header">
    <img src="http://placehold.it/64x64" alt="" class="icon-big">
    <img src="http://placehold.it/32x32" alt="" class="icon-small">
    <div class="description">
      <h3>{{view.ViewVersionInfo.view_name}}</h3>
      <span>{{view.ViewVersionInfo.label}} | Version: <select ng-model="version" class="instanceversion-input" ng-change="versionChanged()" ng-options="o as o for o in versions"></select></span>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Details</h3>
    </div>
    <div class="panel-body">
      <div class="form-group" 
      ng-class="{'has-error' : ( (form.isntanceCreateForm.instanceNameInput.$error.required || form.isntanceCreateForm.instanceNameInput.$error.pattern) && form.isntanceCreateForm.submitted) || instanceExists }"
      >
        <label for="" class="control-labe col-sm-2">Instance Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control instancename-input" name="instanceNameInput" ng-pattern="nameValidationPattern" required ng-model="instance.instance_name">

          <div class="alert alert-danger no-margin-bottom top-margin" ng-show='form.isntanceCreateForm.instanceNameInput.$error.required && form.isntanceCreateForm.submitted'>
            This field is required.
          </div>
          <div class="alert alert-danger no-margin-bottom top-margin" ng-show='form.isntanceCreateForm.instanceNameInput.$error.pattern && form.isntanceCreateForm.submitted'>
            Must not contain any special characters or spaces.
          </div>
          <div class="alert alert-danger no-margin-bottom top-margin" ng-show='instanceExists'>
            Instance with this name already exists.
          </div>
        </div>
      </div>
      <div class="form-group"
      ng-class="{'has-error' : ( (form.isntanceCreateForm.displayLabel.$error.required || form.isntanceCreateForm.displayLabel.$error.pattern) && form.isntanceCreateForm.submitted)}">
        <label for="" class="control-labe col-sm-2">Display Label</label>
        <div class="col-sm-10">
          <input type="text" class="form-control instancelabel-input" name="displayLabel" ng-model="instance.label" required ng-pattern="nameValidationPattern">

          <div class="alert alert-danger no-margin-bottom top-margin" ng-show='form.isntanceCreateForm.displayLabel.$error.required && form.isntanceCreateForm.submitted'>
            This field is required.
          </div>
          <div class="alert alert-danger no-margin-bottom top-margin" ng-show='form.isntanceCreateForm.displayLabel.$error.pattern && form.isntanceCreateForm.submitted'>
            Must not contain any special characters or spaces.
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model='instance.visible' class="visibilityCheckbox"> Visible
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Properties</h3>
    </div>
    <div class="panel-body">
      <div class="form-group" ng-repeat="parameter in instance.properties"
        ng-class="{'has-error' : (form.isntanceCreateForm[parameter.name].$error.required && form.isntanceCreateForm.submitted)}" >
        <label for="" class="col-sm-3 control-label" ng-class="{'not-required': !parameter.required}">{{parameter.description}}{{parameter.required ? '*' : ''}}</label>
        <div class="col-sm-9">
          <input type="text" class="form-control viewproperty-input"  name="{{parameter.name}}" ng-required="parameter.required" ng-model="parameter.value">
          <div class="alert alert-danger no-margin-bottom top-margin" ng-show='form.isntanceCreateForm[parameter.name].$error.required && form.isntanceCreateForm.submitted'>
            Field requried!
          </div>
        </div>
      </div>
      <div ng-show="!instance.properties.length">
        <div class="alert alert-info">There are no properties defined for this view.</div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-12 ">
    <button class="btn btn-primary pull-right left-margin save-button" ng-click="save()" type="submit">Save</button>
    <a href="#/views/" class="btn btn-default pull-right cancel-button">Cancel</a>
  </div>
    
</form>