<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<h2>Edit PIG_CT: Pig for CT Cluster</h2>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Settings</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">Instance ID</label>
        <label for="" class="col-sm-10 control-label text-left">PIG_CT</label>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">Display Name</label>
        <div class="col-sm-10"><input type="text" class="form-control" placeholder="Display Name"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Visible
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Permissions</h3>
  </div>
  <div class="panel-body">
      
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-2"></div>
        <label class="col-sm-5 control-label text-left">Users</label>
        <label class="col-sm-5 control-label text-left">Groups</label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">USE</label>
        <div class="col-sm-5"><textarea name="" id="" cols="30" rows="4" class="form-control"></textarea></div>
        <div class="col-sm-5"><textarea name="" id="" cols="30" rows="4" class="form-control"></textarea></div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">EDIT_SCRIPT</label>
        <div class="col-sm-5"><textarea name="" id="" cols="30" rows="4" class="form-control"></textarea></div>
        <div class="col-sm-5"><textarea name="" id="" cols="30" rows="4" class="form-control"></textarea></div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">EXECUTE_SCRIPT</label>
        <div class="col-sm-5"><textarea name="" id="" cols="30" rows="4" class="form-control"></textarea></div>
        <div class="col-sm-5"><textarea name="" id="" cols="30" rows="4" class="form-control"></textarea></div>
      </div>
    </form>
      
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Configuration</h3>
  </div>
  <div class="panel-body">
    <form action="" class="form-horizontal">
      <div class="form-group">
        <label for="" class="control-label col-sm-2">WebHCat URL</label>
        <div class="col-sm-10"><input type="text" class="form-control"></div>
      </div>
      <div class="form-group">
        <label for="" class="control-label col-sm-2">Other Prop</label>
        <div class="col-sm-10"><input type="text" class="form-control"></div>
      </div>
      <div class="form-group">
        <label for="" class="control-label col-sm-2">Required Prop</label>
        <div class="col-sm-10"><input type="text" class="form-control"></div>
      </div>
    </form>
  </div>
</div>