<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
    
<div class="views-list-table">
  <div class="clearfix">
    <ol class="breadcrumb pull-left">
      <li class="active">Views</li>
    </ol>
    <div class="pull-right col-sm-4">
      <div class="input-group search-container">
        <input type="text" class="form-control search-input" placeholder="Search" ng-model="viewsFilter" ng-change="getFilteredViews()">
        <button type="button" class="close clear-search" ng-show="viewsFilter" ng-click="viewsFilter=''; getFilteredViews()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3 padding-left-30"><h4>View Name</h4></div>
    <div class="col-sm-3"><h4>Instances</h4></div>
    <div class="col-sm-6"><h4>Description</h4></div>
  </div>
  <accordion close-others="false">
    <accordion-group ng-repeat="view in filteredViews" is-open="view.isOpened">
      <accordion-heading>
        <div class="row">
          <div class="col-sm-3">
            <i class="glyphicon glyphicon-chevron-right" ng-class="{'opened': view.isOpened}"></i>
            {{view.view_name}}
          </div>
          <div class="col-sm-3">{{view.versions}}</div>
          <div class="col-sm-6">This is a description</div>
        </div>
      </accordion-heading>
      <table class="table">
        <tbody>
          <tr ng-repeat="instance in view.instances">
            <td class="col-sm-3"></td>
            <td class="col-sm-3">
              <a href="#/views/{{view.view_name}}/versions/{{instance.ViewInstanceInfo.version}}/instances/{{instance.ViewInstanceInfo.instance_name}}/edit" class="instance-link">{{instance.ViewInstanceInfo.label}}</a>
            </td>
            <td class="col-sm-3">{{instance.ViewInstanceInfo.version}}</td>
            <td class="col-sm-3">
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="col-sm-3"></td>
            <td class="col-sm-3">
              <a class="btn btn-default createisntance-btn" href="#/views/{{view.view_name}}/versions/{{view.versionsList[view.versionsList.length-1].ViewVersionInfo.version}}/new"><span class="glyphicon glyphicon-plus" ></span> Create Instance</a>
            </td>
            <td class="col-sm-3"></td>
            <td class="col-sm-3">
            </td>
          </tr>
        </tfoot>
      </table>
    </accordion-group>

  </accordion>
</div>