<!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<div class="row">
<div class="pull-right hidden"><span id="loaderFeed" style="display: none;"> <i
						class="fa fa-spinner fa-spin"></i>
					</span><span>Live feed <small>(last 1 hr) </small></span><span  id="spark">Loading...</span></div>
<div class="col-md-12">
				<div id="r_AuditLine"></div>
	</div>

	<div class="col-md-12" id="AuditSearch">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-search"></i>
					<span>Search</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link"> <i class="fa fa-chevron-up"></i></a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content overflowChange">
				<div class="row row-margin-bottom">
					<div class="col-md-6">
						<div id="r_vsSearchInc"></div>	
					</div>
					<div class="col-md-6">
						<div id="r_vsSearchEx"></div>
					</div>
				</div>
				<div class="row row-margin-bottom">
					<div class="col-md-6">
						<!-- <label>Exclude Components : </label> -->
						<input type="hidden" id="includeComponents" name="Components"
							value="" />
					</div>
					<div class="col-md-6">
						<!-- <label>Exclude Components : </label> -->
						<input type="hidden" id="excludeComponents" name="Components"
							value="" />
					</div>

				</div>
			</div>
			
		</div>
	</div>

	<div class="col-md-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<span>Audit Data</span>
				</div>
				<div class="box-icons">
					<span id="loaderAudit" style="display: none;"> <i
						class="fa fa-spinner fa-spin"></i>
					</span>
					<a data-id="refresh-tab-audit" class=""> <i class="fa fa-refresh"></i></a>
					<a class="collapse-link chkArrow"> <i class="fa fa-chevron-up"></i></a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<div>
					<div class="radio-inline">
						<label> <input type="radio" name="viewTypeAudit" value="C" checked>
							Aggregated data <i class="fa fa-circle-o small"></i>
						</label>
					</div>
					<div class="radio-inline">
						<label> <input type="radio" name="viewTypeAudit" value="A">
							Access Logs <i class="fa fa-circle-o small"></i>
						</label>
					</div>
				</div>
				
				<div data-id="auditTable" style="display:none;"></div>
				<div data-id="auditAggregated"></div>
			</div>
		</div>
	</div>
</div>

