<!--
   Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/security
                    http://www.springframework.org/schema/security/spring-security-3.1.xsd">

  <http use-expressions="true"
        disable-url-rewriting="true" entry-point-ref="ambariEntryPoint">
    <intercept-url pattern="/**" access="isAuthenticated()"/>
    <custom-filter ref="ambariUserAuthorizationFilter" before="BASIC_AUTH_FILTER"/>
    <custom-filter ref="ambariDelegatingAuthenticationFilter" position="BASIC_AUTH_FILTER"/>
    <custom-filter ref="ambariAuthorizationFilter" before="FILTER_SECURITY_INTERCEPTOR"/>
  </http>

  <authentication-manager alias="authenticationManager">
    <authentication-provider ref="ambariLocalAuthenticationProvider"/>
    <authentication-provider ref="ambariPamAuthenticationProvider"/>
    <authentication-provider ref="ambariLdapAuthenticationProvider"/>
    <authentication-provider ref="ambariInternalAuthenticationProvider"/>
    <authentication-provider ref="kerberosServiceAuthenticationProvider"/>
  </authentication-manager>

  <beans:bean id="ambariEntryPoint" class="org.apache.ambari.server.security.AmbariEntryPoint">
    <beans:constructor-arg ref="ambariConfiguration"/>
  </beans:bean>

  <beans:bean id="ambariDelegatingAuthenticationFilter" class="org.apache.ambari.server.security.authentication.AmbariDelegatingAuthenticationFilter">
    <beans:constructor-arg>
      <beans:list>
        <beans:ref bean="ambariBasicAuthenticationFilter"/>
        <beans:ref bean="ambariKerberosAuthenticationFilter"/>
        <beans:ref bean="ambariJwtAuthenticationFilter"/>
      </beans:list>
    </beans:constructor-arg>
  </beans:bean>

  <beans:bean id="ambariBasicAuthenticationFilter" class="org.apache.ambari.server.security.authentication.AmbariBasicAuthenticationFilter">
    <beans:constructor-arg ref="authenticationManager"/>
    <beans:constructor-arg ref="ambariEntryPoint"/>
    <beans:constructor-arg ref="auditLogger"/>
    <beans:constructor-arg ref="permissionHelper"/>
  </beans:bean>

  <beans:bean id="ambariJwtAuthenticationFilter" class="org.apache.ambari.server.security.authentication.AmbariJWTAuthenticationFilter">
    <beans:constructor-arg ref="ambariEntryPoint"/>
    <beans:constructor-arg ref="ambariConfiguration"/>
    <beans:constructor-arg ref="ambariUsers"/>
    <beans:constructor-arg ref="auditLogger"/>
    <beans:constructor-arg ref="permissionHelper"/>
  </beans:bean>

  <beans:bean id="ambariKerberosAuthenticationFilter" class="org.apache.ambari.server.security.authentication.kerberos.AmbariKerberosAuthenticationFilter">
    <beans:constructor-arg ref="authenticationManager"/>
    <beans:constructor-arg ref="ambariEntryPoint"/>
    <beans:constructor-arg ref="ambariConfiguration"/>
    <beans:constructor-arg ref="auditLogger"/>
    <beans:constructor-arg ref="permissionHelper"/>
  </beans:bean>

  <beans:bean id="ambariAuthorizationFilter" class="org.apache.ambari.server.security.authorization.AmbariAuthorizationFilter">
    <beans:constructor-arg ref="ambariEntryPoint"/>
    <beans:constructor-arg ref="ambariConfiguration"/>
    <beans:constructor-arg ref="ambariUsers"/>
    <beans:constructor-arg ref="auditLogger"/>
    <beans:constructor-arg ref="permissionHelper"/>
  </beans:bean>

  <beans:bean id="kerberosServiceAuthenticationProvider" class="org.springframework.security.kerberos.authentication.KerberosServiceAuthenticationProvider">
    <beans:property name="ticketValidator">
      <beans:bean class="org.apache.ambari.server.security.authentication.kerberos.AmbariKerberosTicketValidator">
        <beans:constructor-arg ref="ambariConfiguration"/>
        <beans:property name="debug" value="false"/>
      </beans:bean>
    </beans:property>

    <beans:property name="userDetailsService" ref="authToLocalUserDetailsService"/>
  </beans:bean>

  <beans:bean id="authToLocalUserDetailsService" class="org.apache.ambari.server.security.authentication.kerberos.AmbariAuthToLocalUserDetailsService">
    <beans:constructor-arg ref="ambariConfiguration"/>
    <beans:constructor-arg ref="ambariUsers"/>
  </beans:bean>

</beans:beans>
