/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '../mixins';

:host {
  position: relative;
  background: #ECECEC; // TODO add style according to actual design

  /deep/ .axis {
    .tick {
      cursor: default;
    }
  }

  /deep/ svg {
    cursor: crosshair;
  }

  header {
    padding: @graph-padding;
  }

  .time-gap {
    color: @base-font-color;
    font-size: 1.2rem;
    text-align: center;
  }

  footer {
    .default-flex;
    font-size: 1.2rem;
    color: @base-font-color;
    padding: 0 1em .5em;
  }

  /deep/ rect.drag-area {
    fill: #fff;
  }

  /deep/ rect.unselected-drag-area {
    fill: darken(@main-background-color, 10%);
    opacity: .6;
  }

}
