{{!
   Licensed to the Apache Software Foundation (ASF) under one
   or more contributor license agreements.  See the NOTICE file
   distributed with this work for additional information
   regarding copyright ownership.  The ASF licenses this file
   to you under the Apache License, Version 2.0 (the
   "License"); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="dropdown nav-tab"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hive <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>{{#link-to 'homePage.hive-history'}}HiveHistory Query{{/link-to}}</li>
          <li>{{#link-to 'homePage.hive-saved-query'}}HiveSaved Query{{/link-to}}</li>
        </ul>
      </li>
      <li class="dropdown nav-tab"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Pig <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>{{#link-to 'homePage.pig-script'}}Pig Saved Scripts{{/link-to}}</li>
          <li>{{#link-to 'homePage.pig-job'}}Pig Jobs{{/link-to}}</li>
          <li>{{#link-to 'homePage.pig-udf'}}Pig UDFs{{/link-to}}</li>
        </ul>
      </li>
      <li>{{#link-to 'homePage.revert-change'}}RevertChange{{/link-to}}</li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}

</div>

