<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div class="modal-header text-center">
    <h4 class="modal-title">{{'common.rbac' | translate}}</h4>
</div>
<div class="modal-body">
    <table class="table table-hover table-bordered">
        <tr>
            <th></th>
            <th ng-repeat="role in roles">{{role.permission_label}}</th>
        </tr>
        <tr ng-repeat="auth in orderedAuthorizations">
            <td>{{authHash[auth]}}</td>
            <td ng-repeat="role in roles" class="text-center">
                <i class="glyphicon glyphicon-ok green-icon" ng-show="role.authHash[auth]"></i>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer text-center">
    <button class="btn btn-primary" ng-click="ok()">{{'common.controls.close' | translate}}</button>
</div>
