
/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* Extended CSS */
#content,.box-content {
  background: #fff;
}

.tab-content>.tab-pane {
  display: block;
  height: 0;
  overflow: hidden;
}

.tab-content>.tab-pane .advance-find {
  display: none;
}

.tab-content>.tab-pane.active .advance-find {
  display: block;
}

.tab-content>.active {
  display: block;
  height: auto;
  overflow: visible;
}

div[role="tabpanel"] ul[role="tablist"] li a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 155px;
}

div[role="tabpanel"] ul[role="tablist"] li a b {
  font-size: 10px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td
  {
  vertical-align: inherit;
  border-top: none;
}

.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td {
  border-bottom: none;
}

.small-85 {
  font-size: 85%;
}

.no-margin {
  margin: 0 !important;
}

.row-margin-bottom {
  margin-bottom: 7px;
}

.row-margin-top {
  margin-top: 10px;
}

.tab-content {
  padding: 10px;
  padding-top: 0px;
  border: 1px #DDD solid;
  border-top: none;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus
  {
  background-color: white;
}

.btn:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.position-relative {
  position: relative;
}

.checkbox input[type=checkbox]:indeterminate+i:before,.checkbox-inline input[type=checkbox]:indeterminate+i:before
  {
  content: "\f146";
}

/* Record */
.record {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.record-header,.record-footer {
  color: #505559;
  border-bottom: 1px solid #ccc;
  background-color: #eaeaea;
  background-image: -webkit-linear-gradient(top, #eaeaea, #e0e0e0);
  background-image: -moz-linear-gradient(top, #eaeaea, #e0e0e0);
  background-image: -ms-linear-gradient(top, #eaeaea, #e0e0e0);
  background-image: -o-linear-gradient(top, #eaeaea, #e0e0e0);
  background-image: linear-gradient(to bottom, #eaeaea, #e0e0e0);
}

.record-header table {
  margin-bottom: 0;
}

.record-header table td {
  border: none !important;
}

.record-header .btn {
  margin-bottom: 0;
}

.record-content {
  padding: 15px;
  background-color: #ffffff;
}

.record-panel {
  height: 200px;
  overflow: auto;
}

.record-footer p {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 24px;
}

p.log-line {
  font-family: monospace;
  font-size: 13px;
}

p.log-line:before {
  content: "\f101";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 10px;
}

.btn-pin {
  -webkit-transition: ease .3s;
  -moz-transition: ease .3s;
  transition: ease .3s;
}

.btn-pin.unpin {
  background-color: transparent;
  border: none;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-pin.unpin:hover {
  background-color: #D8D8D8;
}

.highlight {
  background-color: yellow
}

.highlight.active {
  background-color: orange
}

.semi-highlight {
  border-radius: 3px;
  /*border: 1px solid orange;*/
  background-color: orange;
}

.no-record {
  font-style: italic;
  font-size: small;
}

.btn-search {
  padding: 2px 6px 3px;
  line-height: 1.42857143;
  margin: 0 0;
}

.btn-searchCompare {
  padding: 2px 6px 3px;
  line-height: 1.42857143;
  margin: 3px 0;
}

.btn-notification {
  padding: 2px 6px 3px;
  line-height: 1.42857143;
  background-color: #D8D8D8;
  border: 1px solid transparent;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode",
    "Segoe UI", Verdana, sans-serif;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
  margin: 0 0 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-user-select: none;
  -webkit-user-select: none;
  outline: none !important;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.bubbleGraph .label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.bubbleGraph .label,.node--root,.node--leaf {
  pointer-events: none;
}
.UNKNOWN {
  fill: #bdbdbd;
}
.TRACE {
  fill: #888888;
}

.DEBUG {
  fill: #65E8FF;
}

.ERROR {
  fill: #E81D1D;
}

.INFO {
  fill: #2577B5;
}

.WARN {
  fill: #FF8916;
}

.FATAL {
  fill: #830A0A;
}

.d3-tip {
  line-height: 1;
  font-weight: 700;
  padding: 12px;
  /* background: rgb(29, 134, 122); */
  color: rgb(8, 0, 0);
  border-radius: 8px;
  pointer-events: none;
  box-shadow: 0px 0px 12px #321919;
  z-index: 10;
  font-size: 13px;
  font-family: monospace;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
/* overriding backgrid-paginator css */
/* #rLogTable .backgrid th,
#rLogTable .backgrid td {
	overflow: visible;
	text-overflow: clip;
	white-space: normal;
	word-break: break-all;
} */
.table-responsive {
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

div.columnmanager-visibilitycontrol {
  width: auto;
  margin-left: 10px;
}

/* Tree View */
.tree {
  min-height: 20px;
  border-radius: 4px;
  font-size: 12px;
  max-height: 1000px;
  overflow-y: scroll;
}

.tree li {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  position: relative
}

.tree ul ul li:hover {
  background: rgba(0, 0, 0, .015)
}

.tree li ul li .nodebar {
  left: 6px;
  width: 98%;
}

.tree li:after,.tree li:before {
  content: '';
  left: -13px;
  position: absolute;
  right: auto
}

.tree li:before {
  border-left: 1px solid #999;
  bottom: 50px;
  height: 100%;
  top: -11px;
  width: 1px;
  -webkit-transition: "border-color 0.1s ease 0.1s";
  transition: "border-color 0.1s ease 0.1s"
}

.tree li:after {
  border-top: 1px solid #999;
  height: 20px;
  top: 18px;
  width: 16px
}

.tree li span {
  border: 1px dotted #999;
  border-radius: 5px;
  display: inline-block;
  padding: 3px;
  text-decoration: none;
  -webkit-transition: color .2s ease .1s, background-color .2s ease .1s,
    border-color .3s ease .2s;
  transition: color .2s ease .1s, background-color .2s ease .1s,
    border-color .3s ease .2s
}

.tree li.parent_li>span {
  cursor: pointer;
}

.tree>ul>li::after,.tree>ul>li:before {
  border: 0
}

.tree li:last-child::before {
  height: 30px
}

.tree li.parent_li>span:hover,.tree li.parent_li>span:hover+ul li span {
  background: #eee;
  border: 1px solid #94a0b4;
  color: #000
}

.tree>ul {
  padding-left: 0
}

.tree ul ul {
  padding-left: 20px;
  padding-top: 10px
}

.tree li.parent_li>span:hover {
  background-color: #DF8505;
  border: 1px solid #C67605;
  color: #fff
}

.tree li.parent_li>span:hover+ul li::before {
  border-left-color: #F89406
}

.tree li.parent_li>span:hover+ul li::after {
  border-top-color: #F89406
}

.tree li.parent_li>span:hover+ul li span {
  background: #FDDFB3 !important;
  border: 1px solid #FAA937;
  color: #000
}

.tree .checkbox {
  display: inline;
}

.nodebar {
  position: absolute;
  height: 4px;
  width: 90%;
  top: 32px;
  left: 25px;
}

.node {
  height: 100%;
  float: left;
}
.node.UNKNOWN {
  background-color: #bdbdbd;
}

.node.TRACE {
  background-color: #888888;
}

.node.DEBUG {
  background-color: #65E8FF;
}

.node.ERROR {
  background-color: #E81D1D;
}

.node.INFO {
  background-color: #2577B5;
}

.node.WARN {
  background-color: #FF8916;
}

.node.FATAL {
  background-color: #830A0A;
}

.label-UNKNOWN {
  background-color: #bdbdbd;
}
.label-TRACE {
  background-color: #888888;
}

.label-DEBUG {
  background-color: #65E8FF;
}

.label-ERROR {
  background-color: #E81D1D;
}

.label-INFO {
  background-color: #2577B5;
}

.label-WARN {
  background-color: #FF8916;
}

.label-FATAL {
  background-color: #830A0A;
}

.server-info {
  overflow: hidden;
  margin-bottom: 20px;
}

.server-info .col-md-2 {
  width: 15.66666667%;
  margin-left: .5%;
  margin-right: .5%;
}

.server-info a {
  display: block;
  padding: 10px 5px 0px 5px;
  text-decoration: none;
}

.server-info a:first-child {
  border-left: 0;
}

.server-info span {
  display: block;
}

.server-info .fa-spin {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
}

.server-info a.node {
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.server-info a.node.active:before {
  content: "\f046";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  top: -3px;
  right: 0;
}
.server-info a.node.UNKNOWN {
  border-color: #bdbdbd;
  color: #bdbdbd;
}

.server-info a.node.UNKNOWN.active {
  background-color: #bdbdbd;
  color: #fff;
}

.server-info a.node.TRACE {
  border-color: #888888;
  color: #888888;
}

.server-info a.node.TRACE.active {
  background-color: #888888;
  color: #fff;
}

.server-info a.node.DEBUG {
  border-color: #65E8FF;
  color: #65E8FF;
}

.server-info a.node.DEBUG.active {
  background-color: #65E8FF;
  color: #fff;
}

.server-info a.node.ERROR {
  border-color: #E81D1D;
  color: #E81D1D;
}

.server-info a.node.ERROR.active {
  background-color: #E81D1D;
  color: #fff;
}

.server-info a.node.INFO {
  border-color: #2577B5;
  color: #2577B5;
}

.server-info a.node.INFO.active {
  background-color: #2577B5;
  color: #fff;
}

.server-info a.node.WARN {
  border-color: #FF8916;
  color: #FF8916;
}

.server-info a.node.WARN.active {
  background-color: #FF8916;
  color: #fff;
}

.server-info a.node.FATAL {
  border-color: #830A0A;
  color: #830A0A;
}

.server-info a.node.FATAL.active {
  background-color: #830A0A;
  color: #fff;
}
.UNKNOWN {
  color: #bdbdbd;
}

.TRACE {
  color: #888888;
}

.DEBUG {
  color: #65E8FF;
}

.ERROR {
  color: #E81D1D;
}

.INFO {
  color: #2577B5;
}

.WARN {
  color: #FF8916;
}

.FATAL {
  color: #830A0A;
}

.log-count span {
  border: 1px dotted #999;
  border-radius: 5px;
  display: block;
  padding: 3px;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 12px;
}

/* Loader */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 9;
  background: rgba(255, 255, 255, 0.8) url('../images/loading.gif')
    no-repeat center center;
}

.air {
  position: absolute;
  z-index: 5;
}

.air-top-right {
  top: 6px;
  right: 4px;
}

.btn-closeTab {
  /*background-color: #DED2D2;
    color: black;*/
  border: 1px transparent solid;
  border-radius: 33%;
  /* width: 18px; */
  height: 17px;
  font-size: 10px;
  line-height: 9px;
  position: absolute;
  /* top: -4px;*/
  /* left: 1px; */
  right: 0;
  background: none;
  color: #808080;
  top: -3px;
  font-size: 16px;
  padding: 0;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background: url('../images/loading.gif') no-repeat center center;
  background-color: rgba(165, 164, 164, 0.2);
}

.text-strike {
  text-decoration: line-through !important;
}
/*histogram tab style*/
.bar {
  shape-rendering: crispEdges;
}

.axis path,.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.selectDateRange .iStyle {
  position: absolute;
  left: 10px;
  top: auto;
  cursor: pointer;
  z-index: 8;
  margin-top: 7px;
  padding: 1px 1px 0px 1px;
  font-size: 19px;
}

.selectDateRange .btn {
  margin-top: 2px;
}

.widthOfInput {
  width: 90%;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.noDataFound {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal 18px/normal "Passero One", Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 1px 0 rgb(204, 204, 204), 0 2px 0 rgb(201, 201, 201), 0
    3px 0 rgb(187, 187, 187), 0 4px 0 rgb(185, 185, 185), 0 5px 0
    rgb(170, 170, 170), 0 6px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px
    rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px
    5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.247059), 0 10px
    10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.14902);
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.noDataFound:hover {
  color: rgba(169, 214, 169, 1);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 2px 0
    rgba(255, 255, 255, 1), 0 3px 0 rgba(255, 255, 255, 1), 0 4px 0
    rgba(255, 255, 255, 1), 0 5px 0 rgba(255, 255, 255, 1), 0 6px 1px
    rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px
    3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 -5px
    10px rgba(0, 0, 0, 0.247059), 0 -7px 10px rgba(0, 0, 0, 0.2), 0
    -15px 20px rgba(0, 0, 0, 0.14902);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.range_inputs button.applyBtn {
  display: none
}

.range_inputs button.cancelBtn {
  display: none
}

.selectDateRange {
  position: relative;
  /*margin-left: 20px;*/
}

.selectDateRange input {
  width: 99%;
  position: relative;
  padding-left: 36px;
  height: 35px;
  padding-top: 3px;
}

.selectDateRange div button.goBtn {
  
}

/* Visual Search Extended */
.VS-search .VS-search-box {
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee),
    color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '#ffffff',
    endColorstr= '#eeeeee', GradientType= 0);
  background-image: linear-gradient(top, #fff 0%, #eee 50%);
  box-shadow: none;
}

.VS-search .search_facet input {
  padding-top: 3px;
  font-size: 10px;
  line-height: 13px;
}

#logFileTable .backgrid th,#logFileTable .backgrid td {
  overflow: visible;
  text-overflow: clip;
  white-space: pre-wrap;
  /*  word-break: break-word;*/
}

/* Side Panel */
.side-panel {
  position: fixed;
  top: 70px;
  right: -150px;
  z-index: 99;
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  -ms-transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
}

.side-panel.active {
  right: 0px;
}
/* .panel-box.active {
  opacity: 1;
} */
.panel-box {
  float: left;
  width: 150px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: none;
}

.panel-trigger {
  float: left;
  position: relative;
  padding: 5px;
  margin-right: -1px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 7px 0px 0px 7px;
}

.panel-box .node {
  margin-bottom: 10px;
}

.nvd3.nv-pie .nv-pieLabels text {
  fill: white !important;
  font-weight: bold;
}

.clearSearch {
  background-position-x: 50%;
  background-position-y: -11px;
  position: absolute;
  right: 82px;
  top: 6px;
  width: 11px;
  height: 11px;
  background-position: center 0;
  background-image: url('../images/cancel_search.png');
  cursor: pointer;
  vertical-align: middle;
  background-repeat: no-repeat;
  z-index: 9;
}

.advance-find{
  margin-right:80px;
}
.advance-find.fixed {
  position: fixed;
  top: 172px;
  left: 1%;
  z-index: 999;
  width: 340px;
  margin-right: 0;
}

.nvd3 .nv-multibar .nv-groups rect:hover {
  cursor: pointer;
}

#timeline .time .time-interval-major,#timeline .time .time-interval {
  display: none;
}

.introjs-helperNumberLayer {
  width: 23px;
  height: 23px;
  left: -8px;
  background: #3EA5D8;
  line-height: 13px;
}

svg.nvd3-svg {
  float: left;
}

.myHistogram {
  height: 145px;
  width: 100%;
}

.myHistogram g.tick {
  display: none;
}

.myHistogram .nvd3 text {
  font: 400 11px Arial;
}

.myHistogram .nvd3 circle.nv-legend-symbol {
  stroke-width: 0px !important;
}

.myLineChart {
  height: 180px !important;
  width: 100%;
}

.myLineChart g.tick {
  display: block !important;
}

.panel-menu a.actionItem {
  height: 50px;
  padding: 5px 7px 5px 5px;
  line-height: 18px;
}

.btn-context {
  width: 25px;
  height: 25px;
}

.btn-context i {
  font-size: 12px;
  line-height: 22px;
}

.export-dropdown {
  display: none;
  position: absolute;
  top: 25px;
  right: 110px;
  z-index: 9;
  padding: 0;
  background: rgba(0, 0, 0, 0.7);
  list-style: none;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.export-dropdown li a {
  display: block;
  padding: 5px 10px;
  color: #f0f0f0;
}

.export-dropdown li a:hover {
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.dateRangeTitle {
  padding: 4px 6px 4px 6px;
  margin-top: 7px;
  /*margin-left: 20px;*/
  font-size: 9px;
  float: left;
  font-weight: 300;
  border-radius: 3px;
  color: #000;
  background-color: #FFF;
  border: solid 1px #CCC;
}

/* Congested CSS */
body {
  font-size: 13px;
}

.row,.form-horizontal .form-group {
  margin-right: -5px;
  margin-left: -5px;
}

.container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12
  {
  padding-right: 5px;
  padding-left: 5px;
}

.table {
  margin-bottom: 5px;
}

.box,.server-info {
  margin-top: 7px;
  margin-bottom: 7px;
}

.box-content:before,.box-content:after {
  content: "";
  display: table;
}

.box-content:after {
  clear: both;
}

.box-content {
  padding: 5px 10px;
  overflow: hidden;
}

.form-control {
  height: 23px;
}

.logMessage pre {
  font-size: 11px;
  padding: 5px;
  margin: 0;
  white-space: pre-wrap;
}

#hostCriticalGraph text {
  font: 400 9px Arial;
}

#hostCriticalGraph svg.nvd3-svg g.tick {
  display: block;
}

#hostCriticalGraph svg.nvd3-svg g.nv-bar {
  cursor: pointer;
}

.ui-widget-overlay {
  /*z-index : 9999 !important;
	background:none;
    background-color: #AAA;*/
  position: fixed;
}

.btn-exclusion {
  margin: 0 0 3px 0;
  line-height: 20px;
}

/* Select 2 Extended */
.select2-container-multi .select2-choices {
  min-height: 22px;
  line-height: 22px;
}

/* Devoop Extended */
.radio label,.checkbox label,.radio-inline label,.checkbox-inline label
  {
  padding-left: 0px;
  line-height: 22px;
}

/* jQuery UI Extended */
.ui-dialog {
  padding: 0;
}

.ui-widget-header {
  color: #525252;
  border: none;
  border-bottom: 1px #e5e5e5 solid;
  border-radius: 0;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 15px;
}

.ui-widget-content {
  background: #fff;
}

.excludeButton {
  height: 26px;
  padding-top: 0px;
  margin-top: 6px;
}

.excludeButton i {
  line-height: 0px;
}

.box-dashed {
  box-shadow: none;
  border-style: dashed;
  border-color: #999;
}

.toggleTableView.toggle-switch {
  width: 85px;
}

.toggleTableView .toggle-switch-switch {
  right: 65px;
}

.toggleTableView .toggle-switch-inner:before {
  content: "TABLE";
}

.toggleTableView .toggle-switch-inner:after {
  content: "FILE";
  padding-right: 25px;
}

.toggleSearchQuery.toggle-switch {
  width: 85px;
}

.toggleSearchQuery .toggle-switch-switch {
  right: 65px;
}

.toggleSearchQuery .toggle-switch-inner:before {
  content: "Advance Search";
}

.toggleSearchQuery .toggle-switch-inner:after {
  content: "Search";
  padding-right: 25px;
}

.toggle-switch-switch {
  border: 3px solid #7BC5D3;
  background: #7BC5D3;
}

.tabTextSearchEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  padding-right: 22px !important;
}

.select2Load {
  margin: 6px;
}

.overlayIntro {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  right: 0;
  z-index: 2002;
  height: 100%;
}

.overlayDashboard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  right: 0;
  z-index: 999;
  height: 100%;
}
@-webkit-keyframes finger-up-down {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
     -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes finger-up-down {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
     -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes finger-left-right {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  100% {
     -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes finger-left-right {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  100% {
     -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
.finger {
    z-index: 9999;
    position: absolute;
}

.finger.up-down {
    -webkit-animation-name: finger-up-down;
    animation-name: finger-up-down;
}

.finger.left-right {
    -webkit-animation-name: finger-left-right;
    animation-name: finger-left-right;
}
.logFileFont {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 11.5px;
}

.logFileFont.backgrid td {
  padding-left: 15px;
}

.logFileFont .quickMenu {
  margin-top: 0px;
  top: -2px;
}

.dropdown .excludeStatus.full i {
  color: #6CDA0E
}

.bottomToTop {
  cursor: pointer;
  height: 28px;
}

.topToBottom {
  cursor: pointer;
  height: 28px;
}

.panel-menu i.pull-right {
  font-size: 17px;
}

.logTime p {
  margin-bottom: 0px;
}

.logTime strong {
  margin-left: 5px;
  white-space: normal;
}

.hostNodes .col-md-3:nth-child(4n+5) {;
  clear: both;
}

.arrowDiv {
  font-size: 2.2em;
  position: fixed;
  right: 1%;
  z-index: 99;
  bottom: 6%;
  display: none;
}

table.saveFilterTable tr {
  width: 100%;
  display: block;
}

table.saveFilterTable tr td:first-child {
  width: 20%;
  text-align: right;
  display: inline-block;
}

table.saveFilterTable tr td {
  width: 80%;
  display: inline-block;
  text-align: left;
  white-space: normal;
}

table.saveFilterTable,.saveFilterTable tbody {
  display: block;
}

.panel-primary {
  border-color: #C5C4C4;
}

.panel-primary>.panel-heading {
  background-color: #E6E6E6;
  border-color: #C5C4C4;
  color: #505559;
}

.applyFilter .mustBe,.applyFilter .mustNot,.saveFilterTable .mustBe td span,.saveFilterTable .mustNot td span
  {
  border: 1px solid #808080;
  padding: 3px;
  border-radius: 4px;
  margin-right: 7px;
  margin-bottom: 7px;
  display: inline-block;
}

.applyFilter .iMessage,.applyFilter .eMessage,.saveFilterTable .iMessage td span,.saveFilterTable .eMessage td span
  {
  border: 1px solid #808080;
  padding: 3px;
  width: 100%;
  border-radius: 4px;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 7px;
}

div[data-id="timer"] {
  float: left;
}

.timer {
  position: relative;
  float: left;
}

.timer h6 {
  margin: 0;
  text-align: center;
  position: absolute;
  font-size: 11px;
  line-height: 24px;
  width: 24px;
  right: 0;
}

.timer svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 56;
  /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 56;
  transition: all 1s linear;
}

div[data-id="absolute"] label {
  font-size: 11px;
  line-height: 14px;
  margin-top: -10px;
  padding-left: 2px;
}

/* Component Tabs */
#dashboard_links .nav {
  border-radius: 0;
  overflow: visible;
}

#dashboard_links .nav-pills>li>a {
  background: white;
  color: #555;
}

#dashboard_links .nav>li>a:hover,#dashboard_links .nav>li>a:focus {
  background: #C1C1B7;
  color: #F9F9E4;
}

#dashboard_links .nav-pills>li.active:first-child {
  border-top: 1px #999 solid;
}

#dashboard_links .nav-pills>li.active {
  border-bottom: none;
}

#dashboard_links .nav-pills>li.active>a,#dashboard_links .nav-pills>li.active>a:hover,#dashboard_links .nav-pills>li.active>a:focus
  {
  background: white;
  color: #333;
  border: 1px #999 solid;
  border-right: none;
  border-top: none;
  margin-right: -1px;
  z-index: 1;
}

#dashboard_links .nav-pills>li.active>a:before {
  content: none;
  /*content: "\f0d9";*/
  left: inherit;
  right: -2px;
  color: white;
}

#dashboard_links .nodebar {
  position: relative;
  width: 96%;
  top: -10px;
  left: 2%;
  z-index: 9;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
}

#dashboard_tabs {
  background: white;
  min-height: 320px;
  padding: 0 5px;
  /* max-height: 400px;*/
  overflow-y: auto;
  border: 1px #999 solid;
  border-radius: 0;
}

#dashboard_tabs .col-md-3 {
  padding: 5px;
}

.host-info {
  padding: 10px;
  border: 1px #CCC solid;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #A5A1A8;
}

.host-info h5 {
  margin-top: 0;
}

.host-info .nodebar {
  position: static;
  width: 100%;
}

.compare {
  position: fixed;
  width: 25%;
  /* left: 35%;*/
  bottom: 0px;
  z-index: 999;
  -webkit-transition: .4s ease; /* Safari */
  transition: .4s ease opacity: inherit;
}

.compare .panel {
  margin: 0px;
  cursor: pointer;
}

.compare .panel span {
  position: relative;
  min-width: 47%;
  max-width: 47%;
  border: 1px dotted #999;
  border-radius: 5px;
  display: inline-block;
  padding: 3px;
  text-decoration: none;
  word-wrap: break-word;
  font-size: 11px;
  font-weight: bold;
  margin: 1%;
  -webkit-transition: color .2s ease .1s, background-color .2s ease .1s,
    border-color .3s ease .2s;
  transition: color .2s ease .1s, background-color .2s ease .1s,
    border-color .3s ease .2s;
}

img.quickLinkNav {
  width: 25px;
  margin-right: 7px;
}

.comparisonTab div[data-id="r_tableList"] {
  height: 310px;
}

.compare .closeComponent {
  position: absolute;
  right: -1px;
  top: -2px;
}

.hostNodes {
  height: 450px;
  overflow: auto;
}

.hostNodes li {
  cursor: pointer;
}

.compare .btn:hover {
  color: #fff;
}

.jqstooltip {
  width: auto !important
}

.compareClick {
  position: absolute;
  right: 21px;
  top: -3px;
  color: #808080;
  font-size: 14px;
  cursor: pointer;
}

.compareClick i:before {
  background: white;
}

.compare .panel {
  background-color: transparent;
  border: none;
}

.compare .panel-heading {
  padding: 4px 15px;
  display: inline-block;
  background-color: #505559;
  color: #E6E6E6;
  border: 1px #C5C4C4 solid;
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
}

.compare .panel-body {
  background-color: #FBFBFB;
  border: 1px #C5C4C4 solid;
}

div.columnmanager-dropdown-container {
  max-height: none;
}

.VS-interface.ui-autocomplete {
  z-index: 1999;
}

.gridGraph {
  height: calc(100% - 20px);
  position: absolute;
  width: 100%;
  padding: 10px;
}

.gridGraph g.tick {
  display: none;
}

.dashbord .gridHeader {
  height: 20px;
  background: #E4E4E4;
}

.dashbord .gridHeader {
  height: 20px;
  background: #E4E4E4;
}

.dashbord .gridHeader .icons {
  float: right;
}

.dashbord .gridHeader .icons span {
  padding: 3px;
  float: right;
}

.selectDate .iStyle {
  position: absolute;
  left: 20px;
  top: auto;
  cursor: pointer;
  z-index: 8;
  margin-top: 7px;
  padding: 1px 1px 0px 1px;
  font-size: 19px;
}

.selectDate {
  position: relative;
  margin-left: 0px
}

.selectDate input {
  position: relative;
  padding-left: 36px;
  height: 35px;
  padding-top: 3px;
}

.gridster .gs-w {
  z-index: initial;
}

.timeInfo {
  position: absolute;
  right: 10px;
  top: 5px;
}

.d3TimeDetails {
  font-size: 10px;
}

.grid .dateRangeTitle {
  margin-top: 10px;
  margin-left: 10px;
}

.gridHeader .gridTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dateRangeTitle.active {
  color: #FFF;
  background-color: #496A84;
}

.droupAreaHoverEffect:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 30px;
  /*  background-color: #E6E6E6;*/
  border: 2px #8E8E8E dotted;
}

.gridSettinghand {
  position: absolute;
  right: 20px;
  font-weight: bold;
}

.backgrid-paginator ul li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span[role="status"].select2-hidden-accessible {
  display: none;
}

.gridGraph svg {
  width: 100%;
  height: 100%;
}

.active .topLevelFilter.fixed {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  padding: 9px 15px;
  box-shadow: 0px 0px 16px 0px #505559;
  background-color: #fff;
}

.topLevelFilter {
  /*transition: all .4s ease;*/
  
}

.wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  height: 50px;
}

.list {
  position: absolute;
  left: 0px;
  top: 5px;
  min-width: 3000px;
  margin-top: 0px;
}

.list li {
  display: table-cell;
  position: relative;
  text-align: center;
  cursor: grab;
  cursor: -webkit-grab;
  color: #efefef;
  vertical-align: middle;
}

.scroller {
  text-align: center;
  cursor: pointer;
  display: none;
  padding: 7px;
  /*padding-top:11px;*/
  margin-top: 16px;
  white-space: no-wrap;
  vertical-align: middle;
  background-color: #fff;
}

.scroller-right {
  float: right;
}

.scroller-left {
  float: left;
}

.nav[role="tablist"]>li>a {
  margin-top: 5px;
}

.fadeOutColor {
  -webkit-transition: background-color 4s;
  -moz-transition: background-color 4s;
  -o-transition: background-color 4s;
  transition: background-color 4s;
  background: none !important;
}
/*.quickMenu i {padding: 0 5px; cursor: pointer;}*/
.highlightLog {
  background-color: #F5F5DC;
}
/* .logFile {
	height: auto !important;
}
.logFile div[data-id=logsContainer] {
	max-height: 400px;
	overflow: auto;
} */
.logBtnNext {
  position: absolute;
  bottom: 0;
  display: block;
  left: 42%;
}

.logBtnPrev {
  position: absolute;
  top: 0;
  display: block;
  left: 42%;
}

.logsDetail {
  overflow: auto;
  height: 390px;
  margin-top: 30px;
}

.logsContainer  pre {
  margin: 1px;
  padding: 1px;
  font-size: 11px;
  border: none;
  background-color: transparent;
  white-space: pre-wrap;
  padding: 5px 0 !important;
}

.logBtnNext button {
  margin: 0px 0px 0px;
}

.logsContainer hr {
  border-top: solid 1px lightgrey;
  width: 35%;
}

.snapshot {
  width: 90%;
  margin-top: 14px;
  padding: 7px 6px 4px 6px;
  border-radius: 3px;
  background-color: #FFF;
  border: solid 1px #CCC;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
}

.snapshot i {
  padding: 0px 5px;
}

.snapshot .title {
  position: absolute;
  font-size: 9px;
  top: 9px;
  left: 20%;
  /* text-align: center; */
  font-weight: bold;
  background: #FFF;
}

.quickMenu {
  position: absolute;
  left: -2px;
  top: 50%;
  margin-top: -12px;
  transition: all .2s ease;
}

.btn-quickMenu {
  padding: 0 3px;
  top: 0px !important;
  left: 0px !important;
  line-height: 21px;
}

.btn-quickMenu i {
  font-size: 14px;
}

.table-quickMenu>tbody>tr>td:nth-child(1)>p {
  margin-left: 15px;
}

.dropupright {
  top: 10px;
  left: 110% !important;
  right: initial !important;
}

.btn+.dropdown-menu>li>a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.showContent {
  opacity: 1;
  height: auto;
  overflow: auto;
}

.hideContent {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.toggleTableView.aggregatedView .toggle-switch-inner:after {
  content: "GRAPH";
  padding-right: 15px;
}

.fa.fa-sign-out {
  cursor: pointer;
}

.fixedSearchBox {
  transition: all .3s ease
}

.topLevelFilter.fixed .hiddeBox {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.topLevelFilter.fixed .showBox {
  opacity: 1;
  height: auto;
}

.autoTriggerMsg {
  font-size: 10px;
  font-weight: bold;
}

.advanceSearchList {
  list-style: none;
  cursor: pointer;
  width: 100%;
  height: 125px;
  overflow: auto;
}

.advanceSearchBox {
  position: relative;
}

.advanceSearchBox input {
  width: 100%;
}

.suggesterBox {
  background: white;
  z-index: 999;
  width: 100%;
  border: 1px solid #C0C0C0;
  position: absolute;
  opacity: 0.97;
  box-shadow: 3px 4px 5px -2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 4px 5px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 4px 5px -2px rgba(0, 0, 0, 0.5);
}

/* Overview */
.tab-content>.tab-pane {
  position: relative;
}

.btn-component {
  background-color: #eee;
  background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, .05),
    hsla(0, 0%, 0%, .1));
  background-image: -moz-linear-gradient(hsla(0, 0%, 100%, .05),
    hsla(0, 0%, 0%, .1));
  background-image: -ms-linear-gradient(hsla(0, 0%, 100%, .05),
    hsla(0, 0%, 0%, .1));
  background-image: -o-linear-gradient(hsla(0, 0%, 100%, .05),
    hsla(0, 0%, 0%, .1));
  background-image: linear-gradient(hsla(0, 0%, 100%, .05),
    hsla(0, 0%, 0%, .1));
  border: none;
  border-radius: .5em;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .25), inset 0 2px 0
    hsla(0, 0%, 100%, .1), inset 0 1.2em 0 hsla(0, 0%, 100%, .1), inset
    0 -.2em 0 hsla(0, 0%, 100%, .1), inset 0 -.25em 0
    hsla(0, 0%, 0%, .5), 0 .25em .25em hsla(0, 0%, 0%, .1);
  color: #444;
  cursor: pointer;
  display: block;
  width: 100px;
  height: 30px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: .5em 1.5em .75em;
  /*float:left;*/
  /*position: relative;*/
}

.btn-component:hover,.btn-component:focus {
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .25), inset 0 2px 0
    hsla(0, 0%, 100%, .1), inset 0 1.2em 0 hsla(0, 0%, 100%, .1), inset
    0 -.2em 0 hsla(0, 0%, 100%, .1), inset 0 -.25em 0
    hsla(0, 0%, 0%, .5), inset 0 0 0 3em hsla(0, 0%, 100%, .2), 0 .25em
    .25em hsla(0, 0%, 0%, .1);
}

.btn-component:active,.btn-component.active {
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .25), inset 0 2px 0
    hsla(0, 0%, 100%, .1), inset 0 1.2em 0 hsla(0, 0%, 100%, .1), inset
    0 0 0 3em hsla(0, 0%, 100%, .2), inset 0 .25em .5em
    hsla(0, 0%, 0%, .05), 0 -1px 1px hsla(0, 0%, 0%, .1), 0 1px 1px
    hsla(0, 0%, 100%, .25);
  /* margin-top: .25em;*/
  outline: none;
  padding-bottom: .5em;
  background-color: #505559;
  color: #FFF;
}

.overview-sidebar {
  position: absolute;
  top: 7px;
  bottom: 7px;
  right: -5px;
  padding-top: 10px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
}

/*---New Css Start Here 16-Mar-16*/
.leftPad_0 {
  padding-left: 0;
}

.label-info {
  color: #333;
  background-color: #E3E3E3;
}

.dateTopGap {
  margin-top: 20px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
table.custTable tr {
  border-bottom: 1px solid #CCC;
}

table.custTable tr:last-child {
  border-bottom: none;
}

.dependencies {
  display: none;
}

.goBig_btn {
  height: auto;
  width: auto;
  font-size: 14px;
  padding: 3px 13px;
}

button.depLinks {
  width: 61px;
  height: 30px;
  text-align: center;
  float: left;
  margin: 5px 3px;
}
/*button.depLinks:hover,button.depLinks:focus,button.depLinks:visited{
  text-decoration: none !important;
  color: #444;
}*/
.addOnWrap {
  height: 30px;
}

.addOnRightBDR {
  border-right: 1px solid #CCC !important;
}

.innerDepend {
  border: 1px solid #CCC;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  min-height: 30px;
}

.bigArrow {
  font-size: 20px;
  line-height: 22px;
  color: #FFF !important;
}

.sideTopGap {
  margin-top: 35px;
}
/*Rotate  side Bar font*/
.rotateIcon {
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.rotateIcon.toRight {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.expand-collapse {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 999;
  display: block;
  width: 30px;
  height: 32px;
  margin-right: 0px;
  background: transparent;
  border: none;
}

.sideLeft {
  width: 80%;
  height: auto;
  float: left;
  position: relative;
  margin-right: 2%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sideRight {
  width: 18%;
  height: auto;
  float: left;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sideLeftOpen {
  width: 95%;
}

.sideRightclose {
  width: 3%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
} /* IE6 */
*:first-child+html .clearfix {
  zoom: 1;
} /* IE7 */
.btn_wrap {
  width: 100px;
  height: 30px;
  float: left;
  position: relative;
  margin: 1% 0.5%;
}

td.html-cell.renderable.logMessage {
  min-width: 350px !important;
  max-width: 350px !important;
}

.backgrid .string-cell {
  white-space: normal;
  word-break: break-all;
}

.errorBox {
  display: none;
}

table.backgrid tr:last-child td ul.dropupright {
  top: -8px;
}

.overflowChange {
  overflow: visible;
}

button.applyBtn {
  padding: 3px 4px 3px 3px;
  line-height: 11px;
  font-size: 10px;
}

.row-topMargin {
  margin: 15px 0;
}

.logBox {
  background-color: #F5F5F5;
  padding-left: 25px;
  padding-right: 25px;
}

.custTxtInput {
  height: 34px;
}

.custHeader {
  font-weight: bold;
  padding: 20px 0;
}

.custLabel {
  font-size: 15px;
  font-weight: normal;
}

h2.page-header {
  border-bottom: none !important;
  color: #333333;
}

.box-wrapper {
  width: 420px;
  height: auto;
  position: absolute;
  top: 35%;
  left: 43%;
  transform: translate(-30%, -43%);
  -webkit-transform: translate(-30%, -43%);
  -moz-transform: translate(-30%, -43%);
  -ms-transform: translate(-30%, -43%);
  -o-transform: translate(-30%, -43%);
}

.custLogin {
  font-size: 14px;
}

.componentWrap {
  width: 100%;
}

@media ( min-width : 700px) {
  .componentWrap {
    width: 75%;
  }
}

@media ( min-width : 800px) {
  .componentWrap {
    width: 63%;
  }
}

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active
  {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.logFeederTable {
  border-collapse: separate;
  border-spacing: 0;
  position: fixed;
}

.logFeederTable {
  width: 965px;
  display: block;
}

.logFeederTable tbody {
  height: 365px;
  overflow-y: auto;
  width: 965px;
  display: block;
}

.logFeederTable th {
  width: 106px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC !important;
  border-bottom: 1px solid #CCC !important;
  background-color: #FFF;
}

.logFeederTable th:first-of-type {
  width: 312px;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC !important;
  border-bottom: 1px solid #CCC !important;
}

.logFeederTable th:nth-child(2) {
  width: 165px;
  border-top: 1px solid #CCC !important;
  border-bottom: 1px solid #CCC !important;
}

.datepickerFilter {
  width: 100%;
}

.logFeederTable td {
  width: 90px;
  padding: 0 10px;
}

.logFeederTable td:first-of-type {
  width: 240px;
  padding: 0 10px;
}

.logFeederTable td:nth-child(2) {
  width: 135px;
  padding: 0 10px;
}

.logFeederTable tr.componentRow td {
  border-top: solid 1px #CCC !important;
}

.logFeederTable tr.overrideRow td {
  border-bottom: solid 1px #CCC !important;
}

.logFeederTable tr.borderShow td {
  border-bottom: solid 1px #CCC !important;
}

.logFeederTable tr.componentRow td:first-child {
  border-left: solid 1px #CCC;
}

.logFeederTable tr.componentRow td:last-child {
  border-right: solid 1px #CCC;
}

.logFeederTable tr.overrideRow td:first-child {
  border-left: solid 1px #CCC;
}

.logFeederTable tr.overrideRow td:last-child {
  border-right: solid 1px #CCC;
}

.logFeederTable tr.bgHighlight {
  background-color: rgba(255, 238, 0, 0.19) !important;
}

.overrideSpacer {
  height: 13px !important;
}

.hostDown {
  color: #333;
  margin-right: 5px;
}

input.filterInput {
  height: 20px;
}

.logFeederTable a {
  border-bottom: 1px dotted;
}

.logFeederTable a:hover {
  text-decoration: none;
}

.VS-search .search_input {
  width: 2px !important;
}

.VS-search .search_input input {
  margin-top: 0 !important;
}

.nav-tabs>li {
  margin-bottom: -2px;
}

.unitposition {
  font: 300 11px Arial;
  position: absolute;
  top: 7%;
  left: 45%;
}

.comparisonTab #r_VSSearch  .VS-search .VS-search-box {
  min-height: 25px !important;
}

.comparisonTab #r_VSSearch .VS-search .VS-icon-search {
  top: 6px;
}

.comparisonTab #r_VSSearch  .VS-search .VS-placeholder {
  top: 6px;
  font-size: 11px;
}

.comparisonTab #r_VSSearch  .VS-search .VS-search-box .VS-search-inner .search_input
  {
  height: 20px;
}

.comparisonTab #r_VSSearch .VS-search .VS-icon-cancel {
  top: 6px;
}

.comparisonTab #r_VSSearch  .VS-search .search_facet {
  margin: 0 -3px 3px 0;
}

.comparisonTab #r_DatePicker .selectDateRange .iStyle {
  margin-top: 1px;
  font-size: 15px
}

.comparisonTab #r_DatePicker  .selectDateRange input {
  padding-left: 36px;
  height: 20px;
  padding-top: 0;
  font-size: 12px;
}

.comparisonTab #r_DatePicker  .selectDateRange .btn {
  padding: 2px 7px;
  font-size: 10px;
  margin-top: 0;
}

.comparisonTab #r_DatePicker .dateRangeTitle {
  margin-top: 0;
}

.comparisonTab  .box-content hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.comparisonTab #rLogTable .form-control {
  height: 18px;
  font-size: 10px;
}

.comparisonTab #rLogTable .dropdown-button {
  height: 19px;
}

.comparisonTab #rLogTable .columnmanager-visibilitycontrol {
  height: 15px;
}

.comparisonTab pre {
  font-size: 10;
}

[data-id=tabTitle] {
  font-weight: bold;
}

.nvd3 rect[height="1"] {
  display: none !important;
}

.popover {
  z-index: 2002;
}

.popover[class*="tour-"] {
  z-index: 2002;
}

.tour-backdrop {
  z-index: 2001;
  opacity: 0.6;
}

.tour-step-backdrop {
  z-index: 2001;
}

.tour-step-backdrop>td {
  z-index: 2001;
}

.tour-step-background {
  z-index: 2002;
}

.popover.right>.arrow {
  border-right-color: rgba(255, 255, 255, 1);
}

.popover.bottom>.arrow {
  border-bottom-color: rgba(255, 255, 255, 1);
}

.popover.top>.arrow {
  border-top-color: rgba(255, 255, 255, 1);
}

.tour-tour-element {
  background-color: #ffffff !important;
}

.popover.left>.arrow {
  border-left-color: rgba(255, 255, 255, 1);
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

a.params {
  font-size: 10px;
  color: yellow;
  display: none;
}

a.params:hover,a.params:visited,a.params:active,a.params:focus {
  color: #e8e80c !important;
  text-decoration: none;
}

/*--event history */
.timeBox{
  margin:0;
}
#eventsCont {
  overflow: hidden;
}

#eventsCont ul {
  left: 50%;
  position: relative;
  -webkit-padding-start: 0;
  min-width: 4200px;
  cursor: move;
  padding: 0px;
}

#eventsCont ul li {
  display: inline-block;
  width: 145px;
  height: 110px;
  position: relative;
  border-left: 1px solid;
  border-color: rgba(204, 204, 204, 0.6);
}

#eventsCont ul li:hover .showFlagPin {
  opacity: 1;
}

.centerBar {
  z-index: 2;
  position: absolute;
  left: 50%;
  border-right: 2px solid #404040;
  height: 100%;
  transform: translateX(-50%);
}

.showFlagPin {
  width: 5px;
  height: 5px;
  position: absolute;
  left: -3px;
  bottom: -6px;
  background: #333;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.6;
}

.showFlag {
  top: 50%;
  left: 50%;
  width: 120px;
  padding: 5px;
  z-index: 1;
  position: absolute;
  background-color: #FFF;
  word-break: break-all;
  white-space: normal;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-right: 5px solid #676464;
  font-size: 9px;
  color: #3c3c3c;
  border-radius: 5px;
}

.flagArrow {
  width: 0;
  height: 0;
  position: absolute;
  top: 40%;
  left: -10px;
  border-top: 5px solid transparent;
  border-right: 10px solid #d0d0d0;
  border-bottom: 5px solid transparent;
}

.showFlag a {
  text-decoration: none;
  color: #7d7575;
}

.showFlag a:hover {
  text-decoration: none;
}

.flagShadow {
  box-shadow: 0 0 7px #7b7979;
  -webkit-box-shadow: 0 0 7px #7b7979;
  -moz-box-shadow: 0 0 7px #7b7979;
  -o-box-shadow: 0 0 7px #7b7979;
  -ms-box-shadow: 0 0 7px #7b7979;
  transition: all 0.2s ease;
}

.flagShadow:hover {
  box-shadow: 0 0 3px #7b7979;
  -webkit-box-shadow: 0 0 3px #7b7979;
  -moz-box-shadow: 0 0 3px #7b7979;
  -o-box-shadow: 0 0 3px #7b7979;
  -ms-box-shadow: 0 0 3px #7b7979;
}

.flagActive {
  background-color: #8a8888;
  color: #FFF;
}

.flagActive a {
  color: #FFF;
}

.removeFlag {
  position: absolute;
  top: -11px;
  right: -12px;
  cursor: pointer;
  font-size: 14px;
  color: #7d7575;
}

.flagWrap {
  display: block;
  display: -webkit-box;
  max-width: 102px;
  height: 35px;
  margin: 0 0 10px auto;
  line-height: 1;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  cursor: pointer;
}

.flagBtn {
  height: auto;
}

.flagBtn i {
  padding: 1px;
}

.saveBtn {
  margin-right: 5px;
  font-size: 12px;
}

.infoBtn {
  font-size: 12px;
}

.slideArrow {
  width: 35px;
  position: absolute;
  top: 80%;
  left: 2%;
  z-index: 4;
  transform: translate(-50%, -2%);
  -webkit-transform: translate(-50%, -2%);
  -moz-transform: translate(-50%, -2%);
  -o-transform: translate(-50%, -2%);
  -ms-transform: translate(-50%, -2%);
  display: none;
}

.slideArrow a {
  color: #7d7575;
  font-size: 18px;
  margin-right: 2%;
}

.bootbox-body table.table tr.mustBe td:last-of-type {
  white-space: normal;
  word-break: break-all;
}

body,body.modal {
  margin-right: 0 !important;
}

body.modal {
  overflow-y: hidden;
}

.eventTable tbody {
  display: block;
  height: 250px;
  overflow: auto;
}

.eventTable thead,.eventTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.eventTable thead {
  width: calc(100% - 1em)
}

.bootBoxSmall .modal-dialog {
  width: 50%;
}

.bootBoxMedium .modal-dialog {
  width: 70%;
}

.bootBoxLarge .modal-dialog {
  width: 85%;
}

.eventTable thead th:first-of-type,.eventTable tbody td:first-of-type {
  width: 20%;
  vertical-align: top;
}

.eventTable tbody td:nth-child(2) {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.9em;
  word-break: break-all;
  white-space: normal;
}

td.filterName {
  word-break: break-all;
  white-space: normal;
}
/*World Map Drop Down Css*/
.mapDropDown {
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15)
    rgba(0, 0, 0, 0.25);
  color: #333;
  border-color: #ccc;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.mapDropDown:focus,.mapDropDown:active:focus,.mapDropDown.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.mapDropDown:active {
  top: 2px;
  left: 2px;
}

.mapDropDown:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.box-contentHost{
    padding: 5px 10px;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.box-contentHost:after {
  clear: both; 
}

.box-contentHost:before, .box-contentHost:after {
  content: "";
  display: table;
}

table.backgrid{
  overflow: auto !important;
}
button.defaultBtn{
    color: #ffffff !important;
    background-color: #006dcc !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc)) !important;
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc) !important;
    background-image: -o-linear-gradient(top, #0088cc, #0044cc) !important;
    background-image: linear-gradient(to bottom, #0088cc, #0044cc) !important;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc) !important;
}
button.defaultCancelBtn{
  color: #333333 !important;
  background-color: #ffffff;
}
.comparisonTab .daterangepicker .ranges{
  float: right !important;
}

/*------------New Log Levels Tab CSS--------------*/
.levelBox{
  width: 13%;
  margin: 0 .6%;
  float: left;
  position: relative;
  min-height: 1px;
}
.levelBox:last-of-type{
  clear : right;
}