<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<div class="left-navbar">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-cloud"></span> Clusters</div>
    <div class="panel-body">
      <div ng-show="cluster">
        <h5>{{cluster.Clusters.cluster_name}}</h5>
        <ul class="nav nav-pills nav-stacked">
          <li ng-class="{active: isActive('clusters.manageAccess')}">
            <a href="#/clusters/{{cluster.Clusters.cluster_name}}/manageAccess" class="permissions">Permissions</a>
          </li>
          <li><a href="/#/main/dashboard" class="gotodashboard" target="{{cluster.Clusters.cluster_name}}">Go to Dashboard</a></li>
        </ul>
      </div>
        
      <div ng-hide="cluster">
        <a href="/" class="btn btn-primary btn-block createcluster-btn">
          <span class="glyphicon glyphicon-plus"></span>
          Create a Cluster
        </a>
      </div>
        
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Views</div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active: isActive('views.list')}"><link-to route="views.list" class="viewslist-link">Views</link-to></li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> User + Group Management</div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active: isActive('users.list')}"><link-to route="users.list" class="userslist-link">Users</link-to></li>
        <li ng-class="{active: isActive('groups.list')}"><link-to route="groups.list" class="groupslist-link">Groups</link-to></li>
      </ul>
      <hr>
      <div ng-switch="isLDAPConfigured">
        <a ng-switch-when="true" href class="btn btn-primary btn-block syncldapbtn" ng-click="syncLDAP()">
          <span class="glyphicon glyphicon-transfer pulldown2"></span> Sync LDAP
        </a>
        <a ng-switch-default href class="btn btn-default btn-block syncldapbtn disabled" tooltip="LDAP is not configured. To configure LDAP, run ambari-server setup-ldap from the command line.">
          <span class="glyphicon glyphicon-transfer pulldown2"></span> Sync LDAP
        </a>
      </div>
        
    </div>
  </div>

</div>
  