<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
  version="2.5">

  <context-param>
    <param-name>eventdb.db.hostname</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>eventdb.db.name</param-name>
    <param-value>ambari</param-value>
  </context-param>
  <context-param>
    <param-name>eventdb.db.user</param-name>
    <param-value>dbuser</param-value>
  </context-param>
  <context-param>
    <param-name>eventdb.db.password</param-name>
    <param-value></param-value>
  </context-param>

  <servlet>
    <servlet-name>Workflow JSON Servlet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>org.apache.ambari.eventdb.webservice</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Add jsp files here
  <servlet>
    <servlet-name></servlet-name>
    <jsp-file></jsp-file>
  </servlet>
  -->

  <servlet-mapping>
    <servlet-name>Workflow JSON Servlet</servlet-name>
    <url-pattern>/wf/*</url-pattern>
  </servlet-mapping>

</web-app>
