<?xml version="1.0" encoding="UTF-8"?>
<!--## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="ManagementPacksComponent" Guid="53FFCF5E-F710-4F66-BB78-EEFBFB15C082">
        <File Id="AmbariSCOMMonitoringmpb" Name="Ambari.SCOM.Monitoring.mpb" DiskId="1"
          Source="Assets\ManagementPacks\Ambari.SCOM.Monitoring.mpb" Vital="yes" />
        <File Id="AmbariSCOMManagementmpb" Name="Ambari.SCOM.Management.mpb" DiskId="1"
          Source="Assets\ManagementPacks\Ambari.SCOM.Management.mpb" Vital="yes" />
        <File Id="AmbariSCOMPresentationmpb" Name="Ambari.SCOM.Presentation.mpb" DiskId="1"
          Source="Assets\ManagementPacks\Ambari.SCOM.Presentation.mpb" Vital="yes" />
        <File Id="eulaRTF" Name="EULA.rtf" DiskId="1"
          Source="Assets\EULA.rtf" Vital="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>