<!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div class="col-md-1">
    <div class="toggle-switch toggleTableView aggregatedView">
        <label>
            <input data-id="toggleTableAccessLog" type="checkbox">
            <div class="toggle-switch-inner"></div>
            <div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
        </label>
    </div>
</div>
<div class="col-md-1">
    <a data-id="export-aggregated-text" title ="Export file" class="">
	    <i class="fa fa-sign-out"></i>
	</a>
</div>
<div class="col-md-12" data-id="aggregatedGraph">
	<div class="col-md-6">
		<div align="center" style="font-weight: 500;">Top Ten Users</div>
		<div data-id="topUsersGraph">
			<div data-id="usersLoader">Loading...</div>
			<svg style="min-height:250px"></svg>
		</div>
	</div>
	<div class="col-md-6">
		<div align="center" style="font-weight: 500;">Top Ten Resources</div>
		<div data-id="topResourcesGraph">
			<div data-id="resourcesLoader">Loading...</div>
			<svg style="min-height:250px"></svg>
		</div>	
	</div>
</div>
<div class="col-md-12 hideContent" data-id="aggregatedTable">
	<div class="col-md-6">
		<div data-id="topUsers"></div>	
	</div>
	<div class="col-md-6">
		<div data-id="topResources"></div>
	</div>
</div>