/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import-once 'common.less';

.create-app-wizard-wrapper {
  .modal-backdrop {
    opacity: 0;
  }
}

#createAppWizard {
  width: 94%;
  margin: 0 0 auto;
  left: 3%;
  .wizard-nav {
    padding-left: 0px;
  }
  h5 {
    font-weight: bold;
  }
  .slider-modal-body {
    .wizard-content{
      background-color: #ffffff;
      label {
        font-weight: normal;
      }
      .form-horizontal {
        .control-label {
          text-align: left;
        }
      }
    }
  }
  .next-btn {
    margin-left: 5px;
  }
  #configs-text-area {
    margin-bottom: 10px;
    height: 225px;
  }
  #step4 {
    ul {
      list-style: none;
    }
    pre {
      margin-left: 30px;
      max-height: 124px;
    }
  }
  #step2 {
    .table-container {
      border: 1px solid #e3e3e3;
      padding: 5px;
      border-radius: 4px;
      overflow: auto;
      .components-table {
        width: 100%;
        border-spacing: 10px;
        border-collapse: separate;
        th {
          padding-right: 1px;
        }
        .cell-narrow {
          width: 4em;
        }
        .cell-wide {
          width: 5em;
        }
        .cell-auto {
          input {
            width: 100%;
            min-width: 7em;
          }
        }
      }
      margin-bottom: 30px;
    }
  }
  #step1 {
    select {
      padding: 4px 0;
    }
    hr {
      .table-row();
    }
    label {
      width: 100%;
    }
    .row {
      margin: 5px 0;
    }
    .app-types-alert {
      margin-top: 20px;
    }
    .alert-warning {
      border-color: #fbeed5;
      color: #c09853;
    }
  }
  .pseudo-label {
    display: inline-block;
  }
  .app-wiz-configs {
    .accordion-toggle {
      display: block;
    }
    .panel-heading{
      .icon{
        width: 23px;
      }
    }
  }
}


.slider-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin: -250px 0 0 -280px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.slider-modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}

.slider-modal.fade.in {
  top: 50%;
}

.slider-modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.slider-modal-header .close {
  margin-top: 2px;
}

.slider-modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.slider-modal-body {
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.slider-modal-form {
  margin-bottom: 0;
}

.slider-modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}

.slider-modal-footer:before,
.slider-modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.slider-modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.slider-modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

// remove padding for IE
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding: 0px;
}
