/**
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '../mixins';

:host {
  /deep/ filter-dropdown {
    justify-content: flex-end;
  }

  .panel-body {
    overflow: hidden;
    width: 100%;
  }

  table {
    width: 100%;
  }

  tr.log-date-row, tr.log-date-row:hover {
    background: @list-header-background-color;
    border: none transparent;
    th {
      border: none transparent;
    }
  }
  tr.log-item-row td {
    background: none transparent;
  }

  td {
    &.log-action {
      min-width: 3em;
      /deep/ .btn, /deep/ .filter-label {
        font-size: 1em;
        height: auto;
        line-height: 1em;
        padding: 0;
      }
    }
    &.log-time {
      min-width: 7em;
      text-align: right;
    }
    &.log-level {
      text-transform: uppercase;
      min-width: 8em;
      .log-colors;
    }
    &.log-type {
      color: @link-color;
    }
    &.log-message, &.log-path {
      width: 100%;
    }
  }

  tr:hover td.log-action {
    /deep/ .btn {
      display: inline-block;
    }
  }

  .table.table-hover > tbody > tr {
    box-sizing: border-box;
    border-width: 1px;
    > td {
      border-top: 0 none;
    }
    &:first-of-type {
      border-top-color: transparent;
    }
    &:last-of-type {
      border-bottom-color: transparent;
    }
  }

  .context-menu {
    position: fixed;
  }

}
