<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 

    <description>
      HMS Controller
    </description>
    <display-name>HMS Controller</display-name>

    <servlet>
      <servlet-name>REST_API</servlet-name>
      <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
      </servlet-class>
      <init-param>
	<param-name>com.sun.jersey.config.property.packages</param-name>
	<param-value>org.apache.hms.controller.rest</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>REST_API</servlet-name>
      <url-pattern>/v1/*</url-pattern>
    </servlet-mapping>    

</web-app>
