[ ca ]
default_ca             = CA_CLIENT
[ CA_CLIENT ]
dir		                 = keystore/db
certs                  = $dir/certs
new_certs_dir          = $dir/newcerts

database               = $dir/index.txt
serial                 = $dir/serial
default_days           = 365    

default_crl_days       = 7  
default_md             = md5 

policy                 = policy_anything 

[ policy_anything ]
countryName            = optional
stateOrProvinceName    = optional 
localityName           = optional
organizationName       = optional
organizationalUnitName = supplied 
commonName             = optional   
emailAddress           = optional       
