<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
    
<div ng-show="user.user_name" class="user-edit-panel">
  <div class="clearfix">
    <ol class="breadcrumb pull-left">
      <li><a href="#/users">Users</a></li>
      <li class="active">{{user.user_name}}</li>
    </ol>
    <div class="pull-right top-margin-4">
      <button class="btn deleteuser-btn" ng-class="{'btn-danger': !isCurrentUser, 'btn-default' : isCurrentUser}" ng-click="deleteUser()" ng-disabled="isCurrentUser">Delete User</button>
    </div>
  </div>
  <hr>
  <form class="form-horizontal" role="form" >
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">Type</label>
      <div class="col-sm-10">
        <label for="" class="control-label">{{user.ldap_user ? 'LDAP' : 'Local'}}</label>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">Status</label>
      <div class="col-sm-10">
        <toggle-switch on-change="toggleUserActive()" ng-disabled="isCurrentUser" model="user.active" on-label="Active" off-label="Inactive" class="switch-primary userstatus" data-off-color="danger"></toggle-switch>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">Ambari Admin</label>
      <div class="col-sm-10">
        <toggle-switch on-change="toggleUserAdmin()" ng-disabled="isCurrentUser" model="user.admin" on-label="Yes" off-label="No" class="switch-primary userstatus" data-off-color="danger"></toggle-switch>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <a href ng-click="openChangePwdDialog()" class="btn btn-default changepassword">Change Password</a>
      </div>
    </div>
    <div class="form-group">
      <label for="groups" class="col-sm-2 control-label">{{user.ldap_user ? 'LDAP Group Membership' : 'Local Group Membership'}}</label>
      <div class="col-sm-10">
        <div class="row" ng-hide="isGroupEditing">
          <div class="col-sm-10">
            <div class="well">
              <span ng-repeat="group in user.groups">
                <a href="#/groups/{{group}}/edit" >{{group}}</a>
                {{$last ? '' : ', '}}
              </span>
            </div>
          </div>
          <div class="col-sm-2">
            <a href ng-click="enableGroupEditing()" ng-hide="user.ldap_user"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          </div>
        </div>
        <div class="row" ng-show="isGroupEditing">
          <div class="col-sm-12">
            <textarea name="groups" id="" cols="30" rows="5" class="form-control bottom-margin usergroups" ng-model="editingGroupsList"></textarea>
            <a href class="btn btn-primary pull-right left-margin updategroups" ng-click="updateGroups()">Save</a>
            <button class="btn btn-default pull-right cancel-groups-update" ng-click="cancelUpdate()">Cancel</button>
          </div>
            
        </div>
      </div>
        
    </div>
    <div class="form-group" ng-show="dataLoaded">
      <label for="" class="col-sm-2 control-label">Privileges</label>
      <div class="col-sm-10">
        <table class="table" ng-show="privileges">
          <thead>
            <tr>
              <th>Resource</th>
              <th>Permissions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(name, privilege) in privileges.clusters">
              <td>
                <span class="glyphicon glyphicon-cloud"></span> 
                <a href="#/clusters/{{name}}/manageAccess">{{name}}</a>
              </td>
              <td>
                {{privilege}}
              </td>
            </tr>
            <tr ng-repeat="(name, privilege) in privileges.views">
              <td>
                <span class="glyphicon glyphicon-th"></span> 
                <a href="#/views/{{privilege.view_name}}/versions/{{privilege.version}}/instances/{{name}}/edit">{{name}}</a>
              </td>
              <td>
                {{privilege.privileges}}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" ng-show="!privileges">This user does not have any privileges.</div>
      </div>
    </div>
  </form>
</div>
  