<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements. See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. Kerberos, LDAP, Custom. Binary/Htt
-->
<div class="row row-margin-bottom">
  <div class="col-md-3"><h3 class="topology-title"></h3></div>
  <div class="col-md-3 topology-time-frame">
    <label> {{tt 'lbl.selectTimeFrame'}} : </label>
    <select id="tFrame"></select>
  </div>
  <div class="col-md-2">
    <form class="form-inline">
      <div class="checkbox"><label><input id="sysBolt" type="checkbox"> {{tt 'lbl.showSystemBolt'}}  </label></div>
    </form>
  </div>
  <div class="col-md-4">
    <div class="btn-group-sm pull-right">
      <button id="btnActivate" class="btn btn-success btn-sm">{{tt 'btn.activate'}}  </button>
      <button id="btnDeactivate" class="btn btn-success btn-sm">{{tt 'btn.deactivate'}}  </button>
      <button id="btnRebalance" class="btn btn-success btn-sm">{{tt 'btn.rebalance'}}  </button>
      <button id="btnKill" class="btn btn-success btn-sm">{{tt 'btn.kill'}}  </button>
    </div>
  </div>
</div>

<div class="row row-margin-bottom">
  <div id="topologyDetail" class="col-md-12"></div>
</div>

<div class="row row-margin-bottom">
  <div class="col-md-9">
    <div id="graph" class="topology-graph"></div>
  </div>
  <div class="col-md-3">
    <div class="topology-summary">
      <h4 align="center">{{tt 'lbl.topologySummary'}} </h4>
      <div id="topo-summary"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 statistics">
    <!--h3>Statistics <button class="pull-right btn btn-success btn-sm">Open All</button></h3-->
    <h3>{{tt 'lbl.statistics'}}</h3>
    <div class="panel-group statistics-accordion" role="tablist" aria-multiselectable="true">
      <!-- 1st Accordion Begin -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h6 class="panel-title">
            <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fa fa-plus-square"></i> {{tt 'lbl.spouts'}}</a>
          </h6>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body" id="SpoutsTable"></div>
        </div>
      </div>
      <!-- 1st Accordion End -->

      <!-- 2nd Accordion Begin -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h6 class="panel-title">
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="fa fa-plus-square"></span> {{tt 'lbl.bolts'}}</a>
          </h6>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <div class="row statistics-row">
              <div id="BoltsSummaryTable"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 2nd Accordion End -->

      <!-- 3rd Accordion Begin -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h6 class="panel-title">
            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span class="fa fa-plus-square"></span> {{tt 'lbl.topologyConfig'}}</a>
          </h6>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <div class="row statistics-row">
              <div id="TopologyConfigTable"></div>
            </div>
          </div>
        </div>
      </div>
    <!-- 3rd Accordion End -->

    </div>
  </div>
</div>