<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<div class="add-service-button">
    <a class="btn btn-inverse" href="#">
        <i class="icon-plus icon-white"></i>
        Add Service
    </a>
</div>
<div class="service-button">
    <a class="btn" href="#">
        <i class="icon-play-circle"></i>
        Run HDFS Rebalancer
    </a>
</div>

<div class="row box service-summary">
    <div class="span8 service-block">
        <h4>Service Summary</h4>

        <div class="service-content">
            {{#each controller.content.components}}
            <div class="service-links">{{componentName}}: <a href="#">{{host.hostName}}</a></div>
            {{/each}}
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
    <div class="span3 service-block">
        <div class="row">
            <div class="span3">
                <h4>Hosts</h4>

                <div class="service-links">
                    <a href="#">mycompanysite.com</a>
                    <a href="#">mycompanysite.com</a>
                    <a href="#">mycompanysite.com</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <h4>Links</h4>

                <div class="service-links">
                    <a href="#">mycompanysite.com</a>
                    <a href="#">mycompanysite.com</a>
                    <a href="#">mycompanysite.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header">
            <h4>Service-Level Configuration</h4>
        </div>
        <div class="service-configuration service-summary">
            <h5>Summary</h5>
            <dl class="dl-horizontal">
                <dt>Hostname:</dt>
                <dd>ip-12-12-12-1232.cp2</dd>
                <dt>IP:</dt>
                <dd>123.123.135.567</dd>
                <dt>CPU:</dt>
                <dd>2.2 GHz</dd>
                <dt>OS:</dt>
                <dd>type</dd>
                <dt>Disk:</dt>
                <dd>total runtime</dd>
                <dt>Memory:</dt>
                <dd>total runtime usage</dd>
                <dt>Agent:</dt>
                <dd>running</dd>
            </dl>

        </div>
    </div>
</div>