<div id="slave-hosts-popup" class="alert alert-info">Select which hosts should belong to which {{selectedComponentName}} group.</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Host</th>
      <th>Group</th>
    </tr>
  </thead>
  <tbody>
  {{#each host in hosts}}
    <tr>
      <td>
        <label>{{host.hostname}}</label>
      </td>
      <td>
        {{view Ember.Select contentBinding="groups"}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
