/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


.navbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar .brand {
  color: #666666;
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  margin-left: 0;
  margin-right: 40px;
  margin-top: 3px;
  padding: 14px 10px;
}

.navbar-inner {
  background: linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
  border-radius: 0;
  border: 1px solid #bbb;
  border-width: 0 0 1px 0;
}

.navbar .nav {
  float: none;
  overflow: hidden;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background-color: #999999;
  color: #FFFFFF;
  text-decoration: none;
}

.navbar .nav > li > a {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  font-size: 13px;
  font-weight: bold;
  line-height: 19px;
  margin: 6px 10px 6px 0;
  padding: 8px 14px;
  text-decoration: none;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #999999;
  text-decoration: none;
}

.navbar .brand {
  margin-right: 40px;
}

.navbar #logo {
  float: left;
  padding-top: 7px;
  height: 36px;
}

.navbar .nav > li.right {
  float: right;
}
