/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
}

@footer-height: 100px;

#main {
    overflow: auto;
    padding-bottom: @footer-height;
}

footer {
    position: relative;
    border-top: 1px solid #e5e5e5;
    padding: 30px 0;
    background-color: #fff;
    color: #666666;
    margin-top: -1 * @footer-height;
    height: @footer-height - 60px;
}

footer .container {
    margin: 0 auto;
    width: 980px;
}

#content {
    padding: 20px 0;
}

@green: #69BE28;

h1 {
  color: @green;
}


.navbar .container {
    width: 940px;
}

.login.well {
    width: 300px;
    margin: 20px auto;
    padding: 25px;
}

.login h2 {
    margin-bottom: 20px;
}

.login .btn {
    margin-top: 15px;
}