/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.gradient(@color: #FAFAFA, @start: #FFFFFF, @stop: #F2F2F2) {
  background: @color;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, @start), color-stop(1, @stop));
  background: -ms-linear-gradient(top, @start, @stop);
  background: -moz-linear-gradient(center top, @start 0%, @stop 100%);
}

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
}

@footer-height: 100px;

#main {
  overflow: auto;
  padding-bottom: @footer-height;
}

footer {
  position: relative;
  border-top: 1px solid #e5e5e5;
  padding: 30px 0;
  background-color: #fff;
  color: #666666;
  margin-top: -1 * @footer-height;
  height: @footer-height - 60px;
}

#content {
  padding: 40px 0;
}

#top-nav {
  .navbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .navbar .brand {
    color: #666666;
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    margin-left: 0;
    margin-right: 40px;
    margin-top: 3px;
    padding: 14px 10px;
  }
/*
  .navbar-inner {
      background: linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
      background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
      background: -webkit-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
      border-radius: 0;
      border: 1px solid #bbb;
      border-width: 0 0 1px 0;
  }
*/
  .navbar .nav {
    float: none;
    overflow: hidden;
  }

  .navbar .nav .active > a, .navbar .nav .active > a:hover {
  /*background-color: #999999;*/
    color: #FFFFFF;
    text-decoration: none;
  }

  .navbar .nav > li > a {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    margin: 6px 10px 6px 0;
    padding: 8px 14px;
    text-decoration: none;
    text-shadow: none;
  }

  .navbar .nav > li > a:hover {
    background-color: transparent;
    color: #999999;
    text-decoration: none;
  }

  .navbar .brand {
    margin-right: 40px;
  }

  .navbar #logo {
    float: left;
    padding-top: 7px;
    height: 36px;
  }

  .navbar .nav > li.right {
    float: right;
  }
}

#main-nav {
  .brand {
    font-size: 17px;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
  }
  li {
    font-size: 15px;
    border-left: 1px solid #fefefe;
    border-right: 1px solid #f0f0f0;
    text-align: center;
  }
  li.span2 {
    padding: 0;
    margin: 0;
  }

  margin-bottom:40px;
}

@green: #69BE28;

h1 {
  color: @green;
}

.login.well.span4 {
  margin: 20px auto;
  padding: 25px;
  float: none;
}

.login {
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 15px;
  }
}

#installer {
  h2 {
    margin-top: 0;
  }
  .btn.btn-success {
  /* float: right; */
  }
  .btn-area {
    margin-top: 20px;
  }
  #installer-content {
    padding: 25px;
    background-color: #fff;

  }
  .nav-header {
    font-size: 13px;
    padding-left: 0;
  }
  #step4, #step6 {
    a.selected {
      color: #333;
    }
    a.deselected {
    }
  }
  #serviceConfig {
    .accordion-heading {
      background-color: #f0f0f0;
    }
    .accordion-group {
      margin-bottom: 20px;
      .control-group {
        margin: 10px 0;
      }
      form {
        margin-bottom: 0;
      }
    }
    .badge {
      margin-left: 4px;
    }
    .add-slave-component-group {
      margin-bottom: 20px;
    }
    .master-host, .master-hosts, .slave-hosts {
      padding-top: 5px;
      line-height: 20px;
    }
    #attention {
      margin: 20px 0;
    }
    .retyped-password {
      margin-left: 14px;
    }
    #slave-hosts-popup {
      ul {
        list-style-type: none;
      }
    }
  }
}

a:focus {
  outline: none;
}

@status-live-marker: url("../img/health-status-live.png");
@status-dead-marker: url("../img/health-status-dead.png");
@status-ok-marker: url("../img/status-ok.jpg");
@status-corrupt-marker: url("../img/status-corrupt.jpg");
@arrow-right: url("../img/arrow-right.png");

/*****start styles for boxes*****/
.box {
  border: 1px solid #D4D4D4;
  border-radius: 4px;
  margin-bottom: 20px;

  .box-header {
    border-bottom: 1px solid #D4D4D4;
    border-radius: 4px 4px 0 0;
  }
  .box-header,
  .box-footer {
    padding: 10px;
    /*background: #dedede;*/
    .gradient(#dedede, #ffffff, #dedede)
  }
  .box-header:after,
  .box-footer:after {
    content: "";
    display: table;
    clear: both;
  }
  .box-header {
    .btn-group {
      float: right;
    }
    h4 {
      float: left;
    }
  }
  .box-footer {
    hr {
      margin: 0px;
    }
  }
}
/*****end styles for boxes*****/

/*****start styles for dashboard page*****/

/*start services summary*/
.services {
  margin-left: 5px;
  .tab-marker-position {
    padding-left: 25px;
    background-position: 6px 5px;
    background-repeat: no-repeat;
    list-style: none;
  }
  .health-status-LIVE {
    .tab-marker-position;
    background-image: @status-live-marker;
  }
  .health-status-DEAD {
    .tab-marker-position;
    background-image: @status-dead-marker;
  }
  dt {
    text-align: left;
    width: 120px;
  }
  dd{
    margin-left: 145px;
  }
}
/*end services summary*/

/*start alerts summary*/
.alerts {
  margin: 0px;
  li {
    border-bottom: 1px solid #b7b9bb;
    list-style: none;
    padding: 5px 10px 5px 43px;
    background-position: 14px 9px;
    background-repeat: no-repeat;
    .date-time {
      float: right;
    }
    p {
      margin-bottom: 2px;
    }
  }
  li.status-ok {
    background-image: @status-ok-marker;
  }
  li.status-corrupt {
    background-image: @status-corrupt-marker;
  }
}
.go-to {
  float: right;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: @arrow-right;
  padding-right: 40px;
  margin-top: 10px;
}
/*end alerts summary*/

/*****end styles for dashboard page*****/

/*Services*/
#services-menu {
  .nav-list {
    .tab-marker-position {
      padding-left: 30px;
      padding-right: 30px;
      background-position: 12px 9px;
      background-repeat: no-repeat;
    }
    .health-status-LIVE {
      .tab-marker-position;
      background-image: @status-live-marker;
    }
    .health-status-DEAD {
      .tab-marker-position;
      background-image: @status-dead-marker;
    }
    li {
      line-height: 24px;
    }
  }
  .add-service-button {
    margin: 20px 20px 10px;
  }
}
.nav-pills.move {
  float: right;
  margin-top: -48px;
}

/*End Services*/

/*Hosts*/
#hosts {
  .health-status-LIVE {
    background-image: @status-live-marker;
  }
  .health-status-DEAD {
    background-image: @status-dead-marker;
  }
}

#host-details {
  .health-status-LIVE {
    background-image: @status-live-marker;
    background-repeat: no-repeat;
    background-position: 0px 4px;
  }
  .health-status-DEAD {
    background-image: @status-dead-marker;
    background-repeat: no-repeat;
    background-position: 0px 4px;
  }
}

/*End Hosts*/

/*assign masters*/

.assign-masters {
  .select-hosts {
    width: 50%;
    float: left;
    white-space: nowrap;
  }

  .round-corners {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
  }

  .host-assignments {
    float: right;
    width: 45%;
  }

  .remaining-hosts {
    padding: 25px;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    border-right: groove 5px #cccccc;
    border-bottom: groove 5px #cccccc;
    margin-top: 20px;
    background-color: #FCF8E3;
    color: #C09853;
  }

  .host-assignments .mapping-box {
    border: solid 1px #cccccc;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #fafafa;
  }

  .host-assignments .assignedService {
    padding: 2px 8px;
    border: solid 1px #cccccc;
    margin: 2px;
    background-color: @green;
    color: white;
    white-space: nowrap;
    font-size: 0.9em;
    display: inline-block;
  }

  .form-horizontal .controls {
    margin-left: 110px;
  }

  .form-horizontal .control-label {
    width: 100px;
  }

  .form-horizontal .control-group select {
    width: 75%;
    min-width: 100px;
    max-width: 250px;
  }

  .hostString {
    margin-bottom: 5px;
  }

  .controls .badge {
    background-color: @green;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }

  .assign-master  .controls .badge:hover {
    background-color: @green;
  }

  .alertFlag {
    font-size: 1.3em;
    color: #B94A48;
    font-weight: bold;
    vertical-align: middle;
  }
}

/*end assign masters*/

/*Dashboard*/
.alerts-count {
  margin-left: 5px;
}

ul.filter {
  background: #ffffff;
  list-style: none;
  position: absolute;
  padding: 10px;
}

#main-admin-menu {
  padding: 8px 0;
  ul {
    margin-bottom: 0;
    li {
      line-height: 24px;
    }
  }
}

#user-auth-method select {
  width: 320px;
}