#apps{
  .search-bar {
    float:right;
  }
  .dataTable {
    border: 1px solid silver;
    th {
      border-top:none;
    }
  }
  #filter_info {
    float:left;
    padding-top:10px;
  }
  .page-bar {
    border: 1px solid silver;
    text-align:right;
    div {
      display: inline-block;
      margin:0 10px;
    }
    .dataTables_length {
      label {
        display:inline;
      }
      select {
        margin-bottom: 4px;
        margin-top: 4px;
        width:70px;
      }
    }
    .dataTables_paginate {
      a {
        padding:0 5px;
      }
    }
  }
}
