/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import 'common.less';

#dashboard-widgets-container {
  .btn-toolbar {
    float: right;
    padding-top: 5px;
    margin-bottom: 20px;
    margin-top: -60px;
  }
  .dashboard-widgets-box {
    clear: both;
    display: inline-block;
    padding: 10px 1.1% 10px 1.1%;
    background-color: #ffffff;
  }
  #widgets-options-menu {
    .add-widgets-text .dropdown-menu {
      overflow: auto;
      width: 210px;
    }
    .add-widgets-apply-button {
      margin: 0px 20px 20px 0px;
    }
    .nothing-to-add {
      padding: 5px 15px;
    }
  }

  #dashboard-widgets {
    .caption {
      height: 25px;
    }
    .spinner {
      margin: 55px auto;
    }
    .chart-container {
      .spinner {
        margin: 15px auto 35px;
      }
    }
    .span2p4 {
      float: left;
      width: 22.70%;
      *width: 22.70%;
    }
    .thumbnails > div {
      margin: 10px;
      height: 160px;
    }
    .thumbnails li {
      height: 157px;
      width: 100%;
      margin: 3px 3px 0 0;
      border-radius: 2px;
      -webkit-box-shadow: 0px 1px 1px 0px rgba(51, 51, 51, 0.15);
      -moz-box-shadow: 0px 1px 1px 0px rgba(51, 51, 51, 0.15);
      box-shadow: 0px 1px 1px 0px rgba(51, 51, 51, 0.15);
    }

    .img-thumbnail .corner-icon {
      position: relative;
      color: #666666;
      font-size: 14px;
      padding: 10px 15px 0 0;
      float: right;
      ul {
        top: inherit;
        display: none;
        border-radius: 2px;
      }
      li{
        padding: 2.5px 0 2.5px 5px;
        height: auto;
        box-shadow: none;
      }
      li:hover {
        background-color: #f5f5f5;
      }
      .glyphicon-remove-sign{
        color: #000;
        text-shadow: #fff 0 0 15px;
        position: absolute;
        left: -10px;
        top: -10px;
      }
      .glyphicon-edit, .glyphicon-save {
        color: #555;
      }
    }
    .export-graph-list {
      top: 30px;
      li {
        margin: 0;
        height: auto;
      }
    }
    .img-thumbnail .hidden-info-general{
      background-color: #ffffff;
      opacity: 0.9;
      color: #666666;
      font-size: 12px;
      text-align: left;
      text-decoration: none;
      display: none;
      position: relative;
      z-index: 7;
    }
    .hidden-info-two-line{
      padding-top: 60px;
    }
    .hidden-info-three-line{
      padding-top: 50px;
    }
    .hidden-info-five-line{
      padding-top: 40px;
      tr > td {
        line-height: 18px;
      }
    }
    .hidden-info-six-line{
      padding-top: 37px;
      tr > td {
        line-height: 16px;
      }
    }
    .img-thumbnail .caption {
      padding: 10px 15px 20px 15px ;
      color: #666666;
      font-size: 14px;
      text-align: left;
      position: relative;
      float: left;
    }
    .img-thumbnail .widget-content{
      text-align: center;
      font-size: 30px;
      padding-top: 40px; //svg
      position: relative;
      .disabled-hdfs-link {
        pointer-events: none;
        color: grey;
        cursor: default;
      }
      .screensaver{ // graph onload wait
        width: 90%;
        height: 105px;
        border: 1px solid silver;
        color: #fff;
        i {
          font-size: inherit;
        }
      }
    }
    .img-thumbnail .widget-content-isNA{ // for pie chart n\a
      text-align: center;
      font-size: 30px;
      color: #999999;
      padding-top: 70px;
      position: relative;
    }
    .img-thumbnail{
      background-color: #fff;
      z-index: 3;
    }
    .has-hidden-info {
      ul {
        margin: 0;
      }
    }
    .has-hidden-info .img-thumbnail:hover {
      cursor: move;
      .corner-icon{
        display:block;
        text-decoration: none;
        z-index: 9;
      }
      .hidden-info-general{
        display: block;
      }
      .caption{
        z-index: 9;
      }
      .slots-caption{
        margin-left: -13px;
        z-index: 7;
      }
      .content-mx(@top) {
        top: @top;
        opacity: 0.3;
        z-index: 5;
      }
      .widget-content, .widget-content-isNA {
        .content-mx(-114px);
      }
      .uptime-content{
        top: -116px;
      }
      .uptime-content-isNA{
        top: -95px;
      }
      .slots-content-isNA{
        top: -82px;
      }
    }

    .cluster-metrics {
      position: relative;
      .chart-container{
        margin: 0 10px;
        .chart-y-axis{
          margin-top: 10px;
        }
        .chart svg{
          margin-right: 20px;
        }
        .rickshaw_legend{
          padding-top: 3px;
        }
        .chart-legend {
          top: 120px;
          left:15px;
          text-align: left;
          z-index: 3;
          ul >li{
            max-height: 10px;
          }
        }
      }
      &> ul {
        margin:0;
      }
      .alert {
        padding: 0;
        font-size: 12px;
      }
      .img-thumbnail:hover {
        cursor: move;
        .corner-icon {
          display:block;
          text-decoration: none;
          z-index: 9;
        }
      }
    }

    .links .img-thumbnail{
      li{
        height:24px;
        box-shadow: none;
      }
      .link-button{
        margin-top: 5px;
        padding-left: 15px;
        font-size: 12px;
        .disabled-hdfs-quick-link {
          pointer-events: none;
          color: #808080;
          cursor: default;
        }
        button.btn {
          font-size: 12px;
          padding: 5px 10px;
        }
      }

      .widget-content{
        text-align: center;
        font-size: 11px;
        color: #555;
        padding: 40px 0 0 15px;
        table{
          vertical-position: center;
          text-align: left;
          font-size: 12px;
        }
        td{
          padding-top: 2px;
        }
      }
    }
    .links .img-thumbnail:hover{
      cursor: move;
      .corner-icon{
        display:block;
        text-decoration: none;
        z-index: 9;
      }
    }
    .img-thumbnail .widget-content .svg {
      position: relative;
    }

    .widget-cn(@color) {
      color: @color;
      padding-top: 70px;
    }
    .is-red{
      .widget-content {
        .widget-cn(@health-status-red);
      }
    }
    .is-orange{
      .widget-content {
        .widget-cn(@health-status-orange);
      }
    }
    .is-green {
      .widget-content {
        .widget-cn(#666666);
      }
    }
    .is-na {
      position: relative;
      .widget-content {
        .widget-cn(#999999);
        text-shadow: none;
      }
    }
    .corner-icon:hover {
      .ellipsis-menu::after {
        color: #666666;
      }
      ul {
        display:block;
      }
    }
  }
}

@media (min-width: 1200px) {

  #dashboard-widgets-container {

    .dashboard-widgets-box {
      padding: 10px 1.3% 10px 1.3%;
    }

    #dashboard-widgets {
      .span2p4 {
        width: 23.2%;
        *width: 23.2%;
      }
      .img-thumbnail {
        .caption {
          font-size: 14px;
        }
        .hidden-info-two-line, .hidden-info-three-line, .hidden-info-five-line, .hidden-info-six-line {
          font-size: 12px;
        }
      }
      .links .img-thumbnail {
        .widget-content {
          font-size: 12px;
        }
      }
    }
  }

}

@media (min-width: 1500px) {
  #dashboard-widgets-container {
    #dashboard-widgets {
      .span2p4 {
        width: 23.4%;
        *width: 23.4%;
      }
    }
  }
}