/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import 'common.less';

.service-metrics-block {

  #add-widget-action-box {
    width: 96%;
    padding: 43px;
    border: 1px solid #ddd;
    .icon-plus {
      font-size: 70px;
      color: #ddd;
    }
  }

  .actions .dropdown-menu {
    min-width: 270px;
    label.checkbox {
      padding: 0 20px 0 38px;
      margin-bottom: 0;
      margin-top: 5px;
    }
    li.btn-row {
      padding: 5px 20px 10px 20px;
    }
    a.action {
      border-bottom: 1px solid #ddd
    }
  }
}

#widget_layout {
  .frame {
    height: 150px;
    width: 90%;
  }
  .span2p4 {
    width: 19.3%;
    background-color: white;
    margin: 5px 0 5px 5px;
    cursor: move;
  }
  .widget {
    .spinner {
      margin: 55px auto;
    }
    .title {
      padding: 5px 0 0 5px;
      height: 25px;
      font-weight: bold;
      text-align: left;
    }
    .content {
      text-align: center;
      color: @health-status-green;
      padding-top: 35px;
      font-weight: bold;
      font-size: 35px;
    }
    .template-widget,
    .number-widget {
      .frame;
    }
    .graph-widget {
      .frame;
      .content {
        padding-top: 0;
      }
      .chart-legend {
        min-width: 100%;
        padding: 5px;
        text-align: left;
        top: 95px;
        left: -15px;
      }
    }
    .gauge-widget {
      .frame;
      .content {
        padding-top: 5px;
      }
    }
    .red {
      color: @health-status-red;
    }
    .orange {
      color: @health-status-orange;
    }
    .green {
      color: @health-status-green;
    }
  }
}

#add-widget-step2 {
  .badge-container {
    height: 26px;
    .OK, .WARNING, .CRITICAL {
      line-height: 26px;
      height: 26px;
      display: inline-block;
      width: 70px;
      text-align: center;
    }
    .OK {
      background-color: @health-status-green;
    }
    .WARNING {
      background-color: @health-status-orange;
    }
    .CRITICAL {
      background-color: @health-status-red;
    }
  }
  .icon-asterisk {
    color: red;
    font-size: 8px;
  }
}
