/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import 'common.less';

@border-color: #ddd;

.service-metrics-block {

  #add-widget-action-box {
    width: 96%;
    padding: 43px;
    border: 1px solid @border-color;
    .icon-plus {
      font-size: 70px;
      color: @border-color;
    }
  }

  .actions .dropdown-menu {
    min-width: 270px;
    label.checkbox {
      padding: 0 20px 0 38px;
      margin-bottom: 0;
      margin-top: 5px;
    }
    li.btn-row {
      padding: 5px 20px 10px 20px;
    }
    a.action {
      border-bottom: 1px solid @border-color;
    }
  }
}

#widget_layout,
#widget-preview {
  .frame {
    height: 150px;
    width: 90%;
  }
  .span2p4 {
    width: 19.3%;
    background-color: white;
    margin: 5px 0 5px 5px;
  }
  .widget {
    .spinner {
      margin: 55px auto;
    }
    .title {
      padding: 5px 0 0 5px;
      height: 25px;
      font-weight: bold;
      text-align: left;
      position: relative;
    }
    .content {
      text-align: center;
      color: @health-status-green;
      font-weight: bold;
      font-size: 35px;
      position: relative;
    }
    .template-widget,
    .number-widget {
      .frame;
      .content {
        padding-top: 70px;
      }
    }
    .graph-widget {
      .frame;
      .content {
        padding-top: 30px;
      }
      .chart-legend {
        min-width: 100%;
        padding: 5px;
        text-align: left;
        top: 95px;
        left: -15px;
      }
    }
    .gauge-widget {
      .frame;
      .content {
        padding-top: 40px;
      }
    }
    .red {
      color: @health-status-red;
    }
    .orange {
      color: @health-status-orange;
    }
    .green {
      color: @health-status-green;
    }
  }
}

#widget-preview {
  max-width: 200px;
  .widget {
    .thumbnail .corner-icon {
      display: none;
    }
    .graph-widget {
      .title {
        height: 0;
      }
    }
  }
}

#widget_layout {
  .widget {
    .thumbnail .corner-icon {
      display: none;
      position: relative;
      .icon-remove-sign{
        color: #000000;
        text-shadow: #fff 0px 0px 15px;
        position: relative;
        left: -17px;
        top: -11px;
      }
      .icon-edit,.icon-copy{
        color: #555555;
        position: relative;
      }
      .icon-edit {
        left: 2px;
      }
    }
    .thumbnail:hover {
      cursor: move;
      .corner-icon{
        display: block;
        text-decoration: none;
        z-index: 9;
      }
      .caption{
        margin-left: -10px;
      }
    }
  }
}

#add-widget-wizard {
  .step2 {
    .badge-container {
      height: 26px;
      .OK, .WARNING, .CRITICAL {
        line-height: 26px;
        height: 26px;
        display: inline-block;
        width: 70px;
        text-align: center;
      }
      .OK {
        background-color: @health-status-green;
      }
      .WARNING {
        background-color: @health-status-orange;
      }
      .CRITICAL {
        background-color: @health-status-red;
      }
    }
    .remove-link {
      padding: 5px;
      cursor: pointer;
      color: #555555;
      right: 10px;
      bottom: 10px;
      position: absolute;
    }
    .icon-asterisk {
      color: red;
      font-size: 8px;
    }
    .is-invalid.controls,
    .metric-container.is-invalid {
      border-color: red;
    }
    .metric-container {
      position: relative;
      margin-bottom: 50px;
      height: 200px;
      border: 1px solid @border-color;
      button,
      div.btn-group {
       margin: 5px;
      }
      .placeholder {
        color: #999999;
        margin: 50px;
      }
      .edit-link {
        padding: 5px;
        cursor: pointer;
        color: #555555;
        right: 10px;
        top: 10px;
        position: absolute;
      }
      .metric-field {
        height: 100%;
      }
      .metric-instance {
        font-weight: bold;
        cursor: pointer;
        background: #E6F1F6;
        display: inline-block;
        margin: 10px 0 10px 10px;
        padding: 5px;
        border: 1px solid @border-color;
        a {
          margin-left: 5px;
          text-decoration: none;
          display: none;
          .icon-remove {
            color: #A69B9B;
          }
        }
      }
      .metric-instance:hover {
        a {
          display: inline-block;
        }
      }
      .controls {
        background-color: white;
        padding: 0 5px;
        border: 1px @border-color solid;
        margin-right: 20px;
        float: right;
        border-top: none;
      }
      .controls.is-invalid {
        border-color: red;
      }
    }
    .template {
      margin-bottom: 10px;
      textarea {
        width: ~"calc(100% - 10px)";
      }
    }
    fieldset {
      position: relative;
      border: 2px groove #ddd;
      padding: 0 1.4em 1.4em 1.4em;
      margin: 0 0 1.5em 0;
    }
    legend {
      width: inherit;
      padding: 0 10px;
      border-bottom: none;
    }
  }
  .step3 {
    form {
      margin: 50px 0;
      .row-fluid {
        line-height: 30px;
        margin: 10px 0;
        .title {
          text-align: right;
        }
      }
      .radio-group {
        line-height: 20px;
        .checkbox {
          padding-left: 0;
        }
        label {
          margin-bottom: 0;
        }
      }
    }
  }
}

#add-metric-popup {
  min-height: 200px;
  div.row-fluid {
    margin: 20px 10px;
    div {
      line-height: 30px;
    }
  }
  .component-select {
    .accordion-group {
      border: none;
    }
    .accordion-toggle {
      text-decoration: none;
      padding-bottom: 0;
      .icon-caret-down {
        width: 10px;
        display: inline-block;
      }
      .icon-caret-right {
        display: none;
      }
    }
    .accordion-toggle.collapsed {
      text-decoration: none;
      padding-bottom: 0;
      .icon-caret-down {
        display: none;
      }
      .icon-caret-right {
        width: 10px;
        display: inline-block;
      }
    }
    .accordion-inner {
      padding: 0 15px;
      border-top: none;
      li {
        list-style: none;
      }
    }
    .link {
      cursor: pointer;
      color: #0088cc;
    }
    .link:hover {
      background: transparent;
    }
  }
}

#widget-browser-popup {
  min-width: 750px;
  max-width: 900px;
  #shared-mine-tabs {
    a {
      font-size: 15px;
    }
  }
  #services-filter-bar {
    padding: 0px 10px 10px 10px;
    a {
      font-size: 14px;
      padding: 3px;
    }
    a:hover {
      cursor: pointer;
    }
    a.active {
      color: #333;
    }
    a.active:hover {
      text-decoration: none;
      cursor: default;
    }
  }
  #widgets-info {
    .widgets-info-container {
      .span6.widget-info-section {
        width: 44%;
        height: 122px;
        margin: 5px 15px;
        padding-top: 10px;
        padding-left: 5px;
      }
      .span6.widget-info-section:hover {
        background-color: #ddd;
        .icon {
          background-color: white;
        }
      }
      .icon {
        border: 1px solid #ddd;
        .widget-icon-image {
          img {
            display: block;
            margin: 5px auto;
          }
        }
      }
      .label-description {
        padding-top: 5px;
        .label-text {
          display: block;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 1px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .description-text {
          font-size: 12px;
          display: block;
          color: #808080;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 60px;
        }
      }
      .widget-section-actions {
        position: relative;
        top: -30px;
        right: 5px;
        .btn {
          padding: 3px 8px;
          width: 60px;
        }
        .added-btn {
          margin-left: 63px;;
        }
        .dropdown-menu {
          min-width: 110px;
          left: 0px;
        }
      }
    }
    .no-widgets-text {
      padding-left: 20px;
      color: #808080;
    }
  }
}
