/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import 'common.less';

#top-nav {

  .navbar.navbar-static-top {
    background-image: -moz-linear-gradient(top, @top-nav-bg-color-from, @top-nav-bg-color-to);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@top-nav-bg-color-from), to(@top-nav-bg-color-to));
    background-image: -webkit-linear-gradient(top, @top-nav-bg-color-from, @top-nav-bg-color-to);
    background-image: -o-linear-gradient(top, @top-nav-bg-color-from, @top-nav-bg-color-to);
    background-image: linear-gradient(to bottom, @top-nav-bg-color-from, @top-nav-bg-color-to);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= @top-nav-bg-color-from, endColorstr=@top-nav-bg-color-to); //for IE9-
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);

    .navbar-text.brand-wrapper {
      color: @top-nav-brand-color;
      font-size: 16px;
      font-weight: normal;
      text-shadow: 0 1px 0 #555;

      a, a:hover, a:active, a:visited {
        color: @top-nav-brand-color;
        text-decoration: none;
      }
      .ambari-link {
        margin-left: 25px;
      }
      .label {
        color: @top-nav-ops-count-color;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: @top-nav-ops-count-bg-color;
        &.operations-count {
          .infoPulse();
        }
        &.alert-crit-count {
          background-color: @health-status-red;
        }
        &.alert-warn-count {
          background-color: @health-status-orange;
        }
        &.alerts-none-count {
          cursor: default;
        }
      }
      .icon-caret-left {
        color: @top-nav-ops-count-bg-color;
        margin-right: -1px;
        text-shadow: none;
      }
      .ops-count {
        margin-right: -1px;
        color: #006DCC;
        .infoPulseInner();
      }
    }
    a:hover {
      text-decoration: none;
    }

    .logo {
      img {
        height: 32px;
        width: 32px;
        position: absolute;
        top: 8px;
      }
    }

    .alerts-label {
      margin-left: 5px;
      display: inline-block;
    }

    .icon-caret-left {
      color: @top-nav-ops-count-bg-color;
      margin-right: -1px;
      text-shadow: none;
    }

    .cluster-name {
      margin-left: 20px;
    }

    .top-nav-menu.nav {
      padding-right: 20px;
      li > a {
        text-shadow: none;
        color: @top-nav-menu-text-color;
        text-align: center;
        white-space: nowrap;
      }
      .active > a, .active > a:hover, .active > a:focus {
        color: @top-nav-menu-active-text-color;
        background-color: @top-nav-menu-active-bg-color;
        box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
      }
      li > a:focus, li > a:hover {
        color: @top-nav-menu-text-hover-color;
        text-decoration: none;
        background-color: transparent;
      }
      .glyphicon-th {
        font-size: 1.1em;
      }

      li.top-nav-dropdown {
        position: relative;
      }
      .top-nav-dropdown:hover .top-nav-dropdown-menu {
        display: block;
      }
      .top-nav-dropdown-menu {
        display: none;
        position: absolute;
        top: 95%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 220px;
        width: 220px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        background-color: @top-nav-menu-dropdown-bg-color;
        border: 3px solid @top-nav-menu-dropdown-border-color;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        .alerts-count {
          margin-right: 5px;
        }
      }
      .top-nav-dropdown-menu > li{
        position: relative;
      }
      .top-nav-dropdown-menu > li > a {
        text-decoration: none;
        text-align: left;
        display: block;
        padding: 3px 0 3px 5px;
        color: @top-nav-menu-dropdown-text-color;
        white-space: nowrap;
        .glyphicon-health-block > span:before {
          line-height: 20px;
        }
      }
      .top-nav-dropdown-menu > li.active > a{
        background-color: #e5e5e5;
      }
      .top-nav-dropdown-menu > li > a:hover {
        color: #fff;
        background-color: #666;
        background-image: linear-gradient(to bottom, #666, #555);
        background-repeat: repeat-x;
      }
      .top-nav-dropdown-menu > li.disabled > a {
        color: #a9a9a9;
        cursor: default;
      }
      .top-nav-dropdown-menu > li.disabled > a:hover {
        color: #a9a9a9;
        background-color: @top-nav-menu-dropdown-bg-color;
        background-image: none;
      }
    }
  }

  .navbar .nav .top-nav-user .active > a,
  .navbar .nav .top-nav-user .active > a:hover {
    color: #fff;
    text-decoration: none;
  }

  .navbar .nav .top-nav-user > li > a {
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    margin: 1px 10px 2px 0;
    padding: 7px 14px;
    text-decoration: none;
    text-shadow: none;
  }

  .navbar .nav .top-nav-user > li > a:hover {
    background-color: transparent;
    color: #999;
    text-decoration: none;
  }

  .navbar .nav .top-nav-user > li.right {
    float: right;
  }

}