/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import 'common.less';

@undo-btn-margin: 10px;
@combo-widget-width: 100px;

.widget-config {

  .widget-config {
    margin-bottom: 0;
  }

  .widget-config-label {
    font-size: 90%;
  }
  .action-button {
    margin-right: @undo-btn-margin;
  }
}

.list-widget {
  li, li:active {
    a, a:hover, a:focus, a:active, a:visited {
      background-color: #fff !important;
      background-image: none !important;
      color: #333 !important;
    }
  }
}

.slider-widget {

  @slider-widget-border-color: #999;

  .slider-track {
    height: 20px !important;
    border: 1px solid @slider-widget-border-color;
    border-radius: 10px;
  }
  .slider-tick {
    margin-top: 6px !important;
    width: 0px;
    font-size: 8px;
    margin-left: 0px !important;
    &:before {
      content: '|';
    }
    &:nth-of-type(1):before {
      content: '$$$' !important;
    }
    &.slider-tick-default {
      &:after {
        content: "default";
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        left: -2px;
        top: 14px;
        border-style: solid;
        border-width: 0 3px 6px 3px;
        border-color: transparent transparent #5bb75b transparent;
        color: #d1d1d1;
        font-size: 10px;
        text-indent: -14px;
        line-height: 25px;
      }
    }
  }
  .slider-handle {
    margin-top: -2px !important;
    height: 22px;
    width: 22px;
    margin-left: -12px !important;
    background-color: transparent !important;
    background-image: radial-gradient(#aaa 5px, #eee 5px) !important;
    border: 1px solid @slider-widget-border-color;
  }
  .slider-tick-label-container {
    margin-top: 5px;
  }
  .slider-tick-label {
    color: #aaa;
    font-size: 10px;
    .slider-tick-reset-label {
      color: #d7d7d7;
      margin-left: 6px;
    }
  }
  .slider-selection {
    background-image: none;
    background-color: lighten(@blue, 20%);
    border-radius: 11px;
    box-shadow: none;
  }

  .ui-slider-wrapper {
    height: 40px;
    .ui-slider-wrapper-inner {
      width: 70%;
      margin-right: 10px;
    }
    .ui-slider-label {
      color: #aaa;
      line-height: 35px;
    }
  }

}
.slider-disabled {
  .slider-track-high {
    background-color: #ccc;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
  }
  .slider-selection {
    background-color: @gray-blue;
  }
}

.spinner-input-widget {

  .spinner-input {
    display: inline-block;
    padding: 0 5px;
    line-height: normal;
    float: left;

    .input-append.input-prepend {
       margin: 0;
    }

    input {
      width: 20px;
      font-size: 12px;
      text-align: center;
    }

    .btn {
      &:first-child {
        padding-left: 4px;
        padding-right: 2px;
      }

      &:last-child {
        padding-left: 2px;
        padding-right: 4px;
      }
    }

    .spinner-input-label {
      font-size: 11px;
    }
  }

  .undo-button {
    padding: 2px 10px;
    float: left;
  }
}

.toggle-widget {
  .undo-button {
    margin-left: @undo-btn-margin;
  }
}

.combo-widget {
  .input-append {

    > input {
      border-radius: 3px 0 0 3px;
      width: @combo-widget-width;

      &[disabled] {
        background: #fff;
        cursor: default;
      }
    }

    .btn-group {
      display: inline-block;
      margin-left: -1px;

      .btn {
        border-radius: 0 3px 3px 0;
      }
    }
  }

  .action-button {
    margin-left: @undo-btn-margin;
  }
}

.checkbox-widget {
  .widget-config-label {
    margin-left: 10px;
  }

  .bootstrap-checkbox {
    &>button.btn {
      padding: 0;
      margin-top: -7px;
      &:focus {
        border-color: none;
        box-shadow: 0;
        outline: 0 none;
      }
    }

    .icon-check-empty {
      margin-left: -3px;
    }
  }

}
