/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import 'common.less';

.list-widget {
  li, li:active {
    a, a:hover, a:focus, a:active, a:visited {
      background-color: #fff !important;
      background-image: none !important;
      color: #333 !important;
    }
  }
}

.slider-widget {

  @slider-widget-border-color: #999;

  .slider-track {
    height: 20px !important;
    border: 1px solid @slider-widget-border-color;
    border-radius: 10px;
  }
  .slider-tick {
    margin-top: 6px !important;
    width: 0px;
    font-size: 8px;
    margin-left: 0px !important;
    &:before {
      content: '|';
    }
    &:nth-of-type(1):before {
      content: '$$$' !important;
    }
  }
  .slider-handle {
    margin-top: -2px !important;
    height: 22px;
    width: 22px;
    margin-left: -12px !important;
    background-color: transparent !important;
    background-image: radial-gradient(#aaa 5px, #eee 5px) !important;
    border: 1px solid @slider-widget-border-color;
  }
  .slider-tick-label {
    font-size: 10px;
  }
  .slider-selection {
    background-image: none;
    background-color: lighten(@blue, 20%);
    border-radius: 11px;
    box-shadow: none;
  }

  .undo-button {
    margin-left: 20px;
  }

}

.spinner-input-widget {

  .spinner-input {
    display: inline-block;
    padding: 0 5px;
    line-height: normal;
    float: left;

    .input-append.input-prepend {
       margin: 0;
    }

    input {
      width: 20px;
      font-size: 12px;
      text-align: center;
    }

    .btn {
      &:first-child {
        padding-left: 4px;
        padding-right: 2px;
      }

      &:last-child {
        padding-left: 2px;
        padding-right: 4px;
      }
    }

    .spinner-input-label {
      font-size: 11px;
    }
  }

  .restore-btn {
    padding: 2px 10px;
    float: left;
  }
}