Client {
   com.sun.security.auth.module.Krb5LoginModule required
   useKeyTab=true
   keyTab="{{storm_keytab_path}}"
   storeKey=true
   useTicketCache=false
   serviceName="zookeeper"
   principal="{{storm_jaas_principal}}";
};