{#
 # Licensed to the Apache Software Foundation (ASF) under one
 # or more contributor license agreements.  See the NOTICE file
 # distributed with this work for additional information
 # regarding copyright ownership.  The ASF licenses this file
 # to you under the Apache License, Version 2.0 (the
 # "License"); you may not use this file except in compliance
 # with the License.  You may obtain a copy of the License at
 #
 #   http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}
 {
   "service": {
{% if logsearch_metadata and logsearch_metadata.keys()|length > 0 %}
{%   for metadata_key, component_list in logsearch_metadata.iteritems() %}
    "{{ metadata_key.lower() }}": {
      "label": "{{ metadata_key }}",
      "components": [
{%     for component in component_list %}
        {
          "name": "{{ component }}"
        }{% if not loop.last %},{% endif %}

{%     endfor %}
      ],
      "dependencies": [
      ]
    }
     ,
{%   endfor %}
{% endif %}
{% if logfeeder_system_log_enabled %}
     "system" : {
       "label" : "System",
       "components" : [
        {
          "name": "system_message"
        },
        {
          "name": "secure_log"
        }
       ],
       "dependencies": [
       ]
     },
{% endif %}
     "ambari": {
       "label": "Ambari",
       "components": [
         {
           "name": "ambari_agent"
         },
         {
           "name": "ambari_server"
         },
         {
           "name": "ambari_alerts"
         },
         {
           "name": "ambari_audit"
         },
         {
           "name": "ambari_config_changes"
         },
         {
           "name": "ambari_eclipselink"
         },
         {
           "name": "ambari_server_check_database"
         }
       ],
       "dependencies": [
       ]
     },
     "logsearch": {
       "label": "Logsearch",
       "components": [
       {
         "name": "logsearch_app"
       },
       {
         "name": "logsearch_feeder"
       },
       {
         "name": "logsearch_perf"
       }
       ],
       "dependencies": [
       ]
      }
  }
}