<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<ol class="breadcrumb">
  <li><a href="#/groups">Groups</a></li>
  <li class="active">Create Local Group</li>
</ol>
<hr>
<form class="form-horizontal" role="form" novalidate name="form" autocomplete="off">
  <div class="form-group" ng-class="{'has-error' : (form.group_name.$error.required || form.group_name.$error.pattern) && form.submitted}">
    <label for="groupname" class="col-sm-2 control-label">Group name</label>
    <div class="col-sm-10">
      <input type="text" id="groupname" class="form-control groupname-input" name="group_name" placeholder="Group name" ng-model="group.group_name" required ng-pattern="/^([a-zA-Z0-9._\s]+)$/" autocomplete="off">
      <div class="alert alert-danger top-margin" ng-show="form.group_name.$error.required && form.submitted">
        This field is required.
      </div>
      <div class="alert alert-danger top-margin" ng-show="form.group_name.$error.pattern && form.submitted">
        Must contain only simple characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary groupcreate-btn pull-right left-margin" ng-click="createGroup()">Save</button>
      <a href ng-click="cancel()" class="btn btn-default pull-right cancel-button">Cancel</a>
    </div>
  </div>
      
</form>
