/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.navigation-bar-container, .navigation-bar-container ul.nav.side-nav-header,
.navigation-bar-container ul.nav.side-nav-menu {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.navigation-header {
  color: #fff;
  font-size: 2rem;
}

ul.nav.side-nav-menu li.active:not(.has-sub-menu) {
  background-color: #fff;
  a {
    color: darken(#1491C1, 25%);
    &:hover {
      background-color: transparent;
    }
  }
}
