<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div id="stack-versions">
  <div class="clearfix">
    <ol class="breadcrumb pull-left">
      <li class="active">{{'common.versions' | translate}}</li>
    </ol>
    <div class="pull-right top-margin-4">
      <a href="#/stackVersions/create" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        {{'versions.register' | translate}}
      </a>
    </div>
  </div>
  <hr/>

  <accordion close-others="false" class="col-sm-2 left-menu-all-repos">
    <accordion-group ng-repeat="stackVersion in stackVersions" is-open="stackVersion.isOpened">
      <accordion-heading>
        <div class="row stack-version-title">
          <i class="glyphicon glyphicon-chevron-right" ng-class="{'opened': stackVersion.isOpened}"></i>
          {{stackVersion.name}}
        </div>
      </accordion-heading>
      <table class="table repos-table">
        <tbody>
        <tr ng-repeat="repo in stackVersion.repos">
          <td class="repos-td">
            <a href="#/stackVersions/{{repo.stack_name}}/{{repo.repository_version}}/edit">{{repo.repository_version}}</a>
          </td>
        </tr>
        </tbody>
        </table>
    </accordion-group>
    <div class="alert alert-info" ng-show="stackVersions && !stackVersions.length">
      {{'versions.contents.empty' | translate}}
    </div>
  </accordion>

  <form class="col-sm-10 form-horizontal" role="form"novalidate>
    <div class="alert alert-info no-version-alert">
      {{'versions.noVersions' | translate}}
    </div>
  </form>

</div>
