{
  "name": "{{ams_datasource_name}}",
  "type": "ambarimetrics",
  "access": "proxy",
  "url": "{{ams_collector_host}}:{{ams_collector_port}}/ws/v1/timeline/metrics",
  "password": "",
  "user": "",
  "database": "",
  "basicAuth": false,
  "basicAuthUser": "",
  "basicAuthPassword": "",
  "withCredentials": false,
  "isDefault": false,
  "jsonData": {}
}