{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{#unless hasJobAssociated}}
  <div class="explain--error">
    <div>No Results available.</div>
  </div>
{{/unless}}

{{#if hasJobAssociated}}
  {{query-result-table
  queryResult=queryResult
  isQueryRunning=model.isQueryRunning
  currentJobData=model.currentJobData
  isJobCreated=model.isJobCreated
  jobId=jobId
  payloadTitle=payloadTitle
  previousPage=previousPage
  hasNext=hasNext
  hasPrevious=hasPrevious
  updateQuery='updateQuery'
  goNextPage='goNextPage'
  goPrevPage='goPrevPage'
  saveToHDFS='saveToHDFS'
  downloadAsCsv='downloadAsCsv'
  expandQueryResultPanel='expandQueryResultPanel'
  isExportResultSuccessMessege=isExportResultSuccessMessege
  isExportResultFailureMessege=isExportResultFailureMessege
  showSaveHdfsModal=showSaveHdfsModal
  showDownloadCsvModal=showDownloadCsvModal
  }}
{{/if}}
{{outlet}}







